.crm-grid {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    /*height: 100%;*/
    overflow: auto;
}

.crm-group {
    box-shadow: 0 0 3px #bfbfbf;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    min-height: 250px;
    margin-left: 25px;
    margin-top: 15px;
    padding: 0;
}

.crm-group:first-of-type {
    margin-left: 15px;
}

.crm-group:last-of-type {
    margin-right: 15px;
}

.crm-group-header,
.crm-group-body,
.crm-group-footer {
    width: 100%;
}

.crm-group-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    min-height: 40px;
    color: #ffffff;
    background-color: #0c83e2;
    opacity: 0.6;
    font-weight: 500;
    font-size: 16px;
}

.crm-group-header .group-title {
    padding: 3px 5px;
}

.crm-group-body {
    min-height: 210px;
}

.crm-group-header .icon-cross {
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
}

.crm-group-header .group-title[contenteditable="true"]:focus {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.crm-group-body .crm-lead {
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    padding: 15px;
}

.crm-lead-name a {
    font-weight: bold;
    font-size: 18px;
    color: #505050;
}

.crm-lead-name a:hover {
    color: #111111;
}

.crm-lead-phone,
.crm-lead-email {
    color: #505050;
}

#create-group {
    border: dashed 5px rgba(10, 167, 239, 0.5);
    border-radius: 5px;
    background-clip: padding-box;
    transition: border 0.25s ease;
    background-color: rgba(255, 255, 255, 0);
}

#create-group:hover {
    border: dashed 5px rgba(10, 167, 239, 0.75);
    cursor: pointer;
}

#create-group .create-group-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

#create-group .create-group-body i {
    font-size: 80px;
    margin-bottom: 20px;
}

#create-group .create-group-body span {
    display: block;
    font-size: 25px;
}

#create-group .create-group-body * {
    color: rgba(10, 167, 239, 0.5);
    transition: color 0.25s ease;
}

#create-group:hover .create-group-body * {
    color: rgba(10, 167, 239, 1);
}
