{% extends "admin/layout/layout.twig" %}

{% block title %}Лиды{% endblock %}

{% block page_title %}Лиды{% endblock %}

{% block icons %}
    <link rel="stylesheet" href="{{ path_for('module.css', {'module_name': 'CRM', 'filename': 'style.css'}) }}">

    <a id="import-leads" href="" class="btn btn-link btn-float text-default">
        <i class="icon-clippy text-primary" style="font-size: 1.4rem"></i>
        <span>Импорт</span>
    </a>

	<form id="import-lead-form" action="{{ path_for('lead.import') }}" method="post" enctype="multipart/form-data">
		<input id="import-leads-file" name="file" type="file" class="d-none">
	</form>

    <a href="{{ path_for('lead.showAdminLeadAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
{% endblock %}

{% block content %}

    <style>
        td a:hover, td a:visited, td a:link, td a:active {
            width: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
        }
    </style>
    <form action="{{ path_for('lead.showAdminLeadList') }}">
        <div class="row">
            <div class="col-md-2">
                <label for="name-input">ФИО</label>
                <input id="name-input" name="filter[name:like]" value="{{ filter['name:like'] }}" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="email-input">E-mail</label>
                <input id="email-input" name="filter[email:like]" value="{{ filter['email:like'] }}" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="phone-input">Номер телефона</label>
                <input id="phone-input" name="filter[:phones_filter]" value="{{ filter[':phones_filter'] }}" type="text" class="form-control phone">
            </div>
            <div class="col-md-2">
                <label for="company-input">Компания</label>
                <input id="company-input" name="filter[company:like]" value="{{ filter['company:like'] }}" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="tags-input">Тэги</label>
                <select id="tags-select" name="filter[:tags_filter][]" type="text" class="form-control selectpicker" multiple title="">
                    {% for tag in tags %}
                        {% if tag.id in filter[':tags_filter'] %}
                            <option value="{{ tag.id }}" selected>{{ tag.title }}</option>
                        {% else %}
                            <option value="{{ tag.id }}">{{ tag.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label>&nbsp;</label>
                <div>
                    <button type="submit" class="btn btn-outline-primary">Найти</button>
                    <a href="{{  path_for('lead.showAdminLeadList') }}" class="btn btn-outline-danger">Сбросить</a>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12 mt-2">
            <b>Вид:</b>
            <span>
                <i id="show-groups" class="icon-grid-alt text-primary" title="Группы"></i>
                <i id="show-table" class="icon-menu6" title="Таблица"></i>
            </span>
        </div>
    </div>

    <div id="crm-table" class="row" style="display: none;">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>E-mail</th>
                    <th>Компания</th>
                    <th>Источник</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in leads %}
                    <tr>
                        <td>
                            <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.name }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.email }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.company }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.source }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.created_at }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="crm-grid" class="row crm-grid">
        <div class="col-md-3 col-sm-4 col-6 crm-group" data-group-id="0">
            <div class="crm-group-header">
                <span class="group-title">Не распределенные</span>
            </div>
            <div class="crm-group-body">

                {% for lead in leads if lead.crm_group_id == null or lead.crm_group_id == 0 %}
                <div class="crm-lead" data-id="{{ lead.id }}">
                    <div class="crm-lead-name mb-1">
                        <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.name }}</a>
                    </div>
                    {% if lead.phones|length > 0 %}
                        <div class="crm-lead-phone">
                            <i class="icon-phone2" title="Телефон"></i>
                            {{ lead.phones[0].formatedphone }}
                        </div>
                    {% endif %}

                    {% if lead.email %}
                        <div class="crm-lead-email">
                            <i class="icon-mail5" title="Email"></i>
                            {{ lead.email }}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        {% for group in groups %}
            <div class="col-md-3 col-sm-4 col-6 crm-group" data-group-id="{{ group.id }}">
                <div class="crm-group-header">
                    <span class="group-title" contenteditable="true">{{ group.title }}</span>
                    <i class="delete-group icon-cross"></i>
                </div>
                <div class="crm-group-body">
                    {% for lead in leads if lead.crm_group_id == group.id %}
                        <div class="crm-lead" data-id="{{ lead.id }}">
                            <div class="crm-lead-name mb-1">
                                <a href="{{ path_for('lead.showAdminLeadEdit', {'id':lead.id}) }}">{{ lead.name }}</a>
                            </div>
                            {% if lead.phones|length > 0 %}
                                <div class="crm-lead-phone">
                                    <i class="icon-phone2" title="Телефон"></i>
                                    {{ lead.phones[0].formatedphone }}
                                </div>
                            {% endif %}

                            {% if lead.email %}
                                <div class="crm-lead-email">
                                    <i class="icon-mail5" title="Email"></i>
                                    {{ lead.email }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div id="create-group" class="col-md-3 col-sm-4 col-6 crm-group">
            <div class="create-group-body">
                <i class="icon-import"></i>
                <span>Добавить группу</span>
            </div>
        </div>

    </div>

{% endblock %}
{% block script %}
    <script>
        $('.phone').mask('+7(000)-000-00-00');

        $(function() {
        	$('#import-leads').click(function(event) {
        		event.preventDefault();

        		$('#import-leads-file').click();
        	});

        	$('#import-leads-file').change(function() {
        		$('#import-lead-form').submit();
        	});
        });
    </script>

    <script src="{{ path_for('module.js', {'module_name': 'CRM', 'filename': 'Sortable.js'}) }}"></script>
    <script>
            function initSortable() {
                $('.crm-group-body').each((key, body) => {
                    new Sortable(body, {
                        group: {
                            name: 'group_' + key,
                            pull: true,
                            put: true
                        },
                        sort: false,
                        animation: 200,
                        onEnd: function (event) {
                            let group = $(event.to).closest('.crm-group');
                            let group_id = $(group).data('group-id');
                            let lead_id = $(event.item).data('id');

                            $.ajax({
                                type: 'POST',
                                url: "{{ path_for('lead.updateLead', {'id': ''}) }}" + lead_id,
                                data: {
                                    lead: {
                                        crm_group_id: group_id
                                    }
                                }
                            });
                        }
                    });
                });
            }

            initSortable();

            $('#create-group').click(function(event) {
                $.ajax({
                    type: 'POST',
                    url: "{{ path_for('lead.createGroup') }}",
                    success: function(response) {
                        let group = JSON.parse(response);
                        let group_block = `
                            <div class="col-md-3 col-sm-4 col-6 crm-group" data-group-id="`+group.id+`">
                                <div class="crm-group-header">
                                    <span class="group-title" contenteditable="true">`+group.title+`</span>
                                    <i class="delete-group icon-cross"></i>
                                </div>
                                <div class="crm-group-body"></div>
                            </div>`;

                        $('#crm-grid').find('#create-group').before(group_block);

                        initSortable();
                    }
                });
            });

            $(document).on('click', '.delete-group', function(event) {
                var block = $(event.target).closest('.crm-group');
                var id = $(block).data('group-id');
                let title = block.find('.group-title').html();

                if (confirm('Удалить группу ' + title + '?')) {
                    $.ajax({
                        type: 'DELETE',
                        url: "{{ path_for('lead.deleteGroup', {'id': ''}) }}" + id,
                        success: function() {

                            let leads = block.find('.crm-lead');
                            block.remove();

                            $('.crm-group[data-group-id="0"]').find('.crm-group-body').append(leads);
                        }
                    });
                }
            });

            $(document).on('blur', '.group-title[contenteditable="true"]', function(event) {
                let id = $(event.target).closest('.crm-group').data('group-id');

                $.ajax({
                    type: 'POST',
                    url: "{{ path_for('lead.updateGroup', {'id': ''}) }}" + id,
                    data: {
                        title: $(event.target).html()
                    }
                });
            });

            $('#show-table').click(function(event) {
                $(event.target).addClass('text-primary');
                $('#show-groups').removeClass('text-primary');

                $('#crm-table').show();
                $('#crm-grid').hide();
            });

            $('#show-groups').click(function(event) {
                $(event.target).addClass('text-primary');
                $('#show-table').removeClass('text-primary');

                $('#crm-table').hide();
                $('#crm-grid').show();
            });
    </script>

{% endblock %}