{% extends "admin/layout/layout.twig" %}

{% block title %}{% if lead.id %}{{ lead.name }}{% else %}Новый лид{% endif %}{% endblock %}

{% block page_title %}{% if lead.id %}{{ lead.name }}{% else %}Новый лид{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('lead.showAdminLeadList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список лидов</span>
    </a>
{% endblock %}

{% block content %}

    <form id="lead_form"
          action="{% if lead.id %}{{ path_for('lead.updateLead', {'id':lead.id}) }}{% else %}{{ path_for('lead.createLead') }}{% endif %}"
          method="post">
        <div class="row">
            <div class="col-md-4">
                <label for="name-input">ФИО</label>
                <input name="lead[name]" id="name-input" v-model="lead.name" type="text" class="form-control">

                <label for="comment-input">Комментарий</label>
                <textarea name="lead[comment]" id="comment-input" v-model="lead.comment"
                          class="form-control"></textarea>

                <label for="email-input">E-mail</label>
                <input name="lead[email]" id="email-input" v-model="lead.email" type="email" class="form-control">

                <label for="email-input">Номер телефона <a href="" @click="addPhone">добавить</a></label>
                <div class="input-group" v-for="phone,index in lead.phones">

                    <input name="phone[]" id="email-input" :value="phone.phone" @input="changePhone(index)" type="text"
                           class="form-control phone">

                    <div class="input-group-append" @click="removePhone(index)">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="icon-x"></i>
                        </button>
                    </div>

                </div>

                <br v-if="lead.phones.length == 0">

                <label for="company-input">Компания</label>
                <input name="lead[company]" v-model="lead.company" id="company-input" type="text" class="form-control">

                <label for="source-input">Источник</label>
                <input name="lead[source]" v-model="lead.source" id="source-input" type="text" class="form-control">

                <label for="birthday-input">Дата рождения</label>
                <input name="lead[birthday]" v-model="lead.birthday" id="birthday-input" type="text"
                       class="form-control flatpickr">

                <label for="tags-select">Тэги</label>
                <select name="tags[]" id="tags-select" type="text" class="form-control" multiple>
                    <option :value="tag.id" v-for="tag in tags" :selected="tagSelected(tag)">${tag.title}</option>
                </select>

            </div>

            <div class="col-md-4">
                <p>Записи разговоров</p>
                <ol>
                {% for record in lead.records %}
                    <li>
                        <audio src="http://{{ record.record }}" controls style="height: 25px;"></audio>
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                {% if lead.id %}
                    <button type="button" @click="removeLead()" class="btn btn-danger">Удалить</button>
                    <a href="{{ path_for('person.createPersonFromLead', {'id': lead.id}) }}" class="btn btn-success">Перевести в клиенты</a>
                {% endif %}
            </div>
        </div>

    </form>
{% endblock %}

{% block script %}
    <script>
        var vm = new Vue({
            el: '#lead_form',
            delimiters: ['${', '}'],
            data: {
                lead: {% if lead.id %}{{ lead|json_encode|raw }}{% else %}{phones: [], tags:[]}{% endif %},
                tags: {{ tags|raw }}
            },
            methods: {
                addPhone() {
                    event.preventDefault();
                    vm.lead.phones.splice(0,0,{});
                    vm.$nextTick(() => {
                        vm.setPhoneMask();
                    });
                },
                changePhone(index) {
                    vm.lead.phones[index].phone = $(event.target).val();
                },
                removePhone(index) {
                    vm.lead.phones.splice(index, 1);
                },
                setPhoneMask() {
                    $('.phone').mask('+7(000)-000-00-00');
                },
                createTag() {
                    let text = $(event.target).text();
                    text = text.replace('Создать тэг ', '');
                    text = text.replace(/"/g, '');

                    $.ajax({
                        url: "/api/tags",
                        type: "POST",
                        data: {title: text}
                    }).done((resp) => {
                        vm.tags.push({id: resp, title: text});
                        vm.setTagSelectize();
                    });
                },
                tagSelected(tag) {
                    var selected = false;
                    this.lead.tags.forEach(function (_tag) {
                        if (tag.id === _tag.id) {
                            selected = true;
                        }
                    });
                    return selected;
                },
                setTagSelectize() {
                    $('#tags-select').selectpicker('destroy').selectpicker({
                        liveSearch: true,
                        liveSearchNormalize: true,
                        liveSearchPlaceholder: 'Поиск',
                        noneSelectedText: 'Выберите тэг',
                        noneResultsText: "<p style='cursor:pointer' onclick='vm.createTag()'>Создать тэг {0}</p>"
                    });
                },
                removeLead(){
                    fetch('{{ path_for('lead.deleteLead', {'id':lead.id}) }}', {
                        method: 'delete'
                    }).then(window.location.href = '{{ path_for('lead.showAdminLeadList') }}');
                }
            },
            mounted() {
                this.setTagSelectize();
                this.setPhoneMask();
                $('#birthday-input').flatpickr({
                    locale: "ru",
                    altFormat: 'j F Y',
                    altInput: true
                });
            }
        });
    </script>
{% endblock %}