{% extends "admin/layout/layout.twig" %}

{% block title %}Клиенты{% endblock %}

{% block page_title %}Клиенты{% endblock %}

{% block icons %}
    <a href="{{ path_for('person.showAdminPersonAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
{% endblock %}

{% block content %}
    <style>
        td a:hover, td a:visited, td a:link, td a:active {
            width: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
        }
    </style>
    <form action="{{ path_for('person.showAdminPersonList') }}">
        <div class="row">
            <div class="col-md-2">
                <label for="name-input">ФИО</label>
                <input id="name-input" name="filter[name:like]" value="{{ filter['name:like'] }}" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="email-input">E-mail</label>
                <input id="email-input" name="filter[email:like]" value="{{ filter['email:like'] }}" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="phone-input">Номер телефона</label>
                <input id="phone-input" name="filter[:phones_filter]" value="{{ filter[':phones_filter'] }}" type="text" class="form-control phone">
            </div>
            <div class="col-md-2">
                <label for="company-input">Компания</label>
                <input id="company-input" name="filter[:company_filter]" value="{{ filter[':company_filter'] }}" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="tags-select">Тэги</label>
                <select id="tags-select" name="filter[:tags_filter][]" type="text" class="form-control selectpicker" multiple title="">
                    {% for tag in tags %}
                        {% if tag.id in filter[':tags_filter'] %}
                            <option value="{{ tag.id }}" selected>{{ tag.title }}</option>
                        {% else %}
                            <option value="{{ tag.id }}">{{ tag.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label>&nbsp;</label>
                <div>
                    <button type="submit" class="btn btn-outline-primary">Найти</button>
                    <a href="{{  path_for('person.showAdminPersonList') }}" class="btn btn-outline-danger">Сбросить</a>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>E-mail</th>
                    <th>Компания</th>
                    <th>Источник</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons.data %}
                    <tr>
                        <td>
                            <a href="{{ path_for('person.showAdminPersonEdit', {'id':person.id}) }}">{{ person.name }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('person.showAdminPersonEdit', {'id':person.id}) }}">{{ person.email }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('person.showAdminPersonEdit', {'id':person.id}) }}">{{ person.company.name }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('person.showAdminPersonEdit', {'id':person.id}) }}">{{ person.source }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('person.showAdminPersonEdit', {'id':person.id}) }}">{{ person.created_at }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('.phone').mask('+7(000)-000-00-00');
    </script>
{% endblock %}