{% extends "admin/layout/layout.twig" %}

{% block title %}{% if person.id %}{{ person.name }}{% else %}Новый клиент{% endif %}{% endblock %}

{% block page_title %}{% if person.id %}{{ person.name }}{% else %}Новый клиент{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('person.showAdminPersonList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список клиентов</span>
    </a>
{% endblock %}

{% block content %}

    <form id="lead_form"
          action="{% if person.id %}{{ path_for('person.updatePerson', {'id':person.id}) }}{% else %}{{ path_for('person.createPerson') }}{% endif %}"
          method="post">
        <div class="row">
            <div class="col-md-4">
                <label for="name-input">ФИО</label>
                <input name="person[name]" id="name-input" v-model="person.name" type="text" class="form-control">

                <label for="comment-input">Комментарий</label>
                <textarea name="person[comment]" id="comment-input" v-model="person.comment"
                          class="form-control"></textarea>

                <label for="email-input">E-mail</label>
                <input name="person[email]" id="email-input" v-model="person.email" type="email" class="form-control">

                <label for="email-input">Номер телефона <a href="" @click="addPhone">добавить</a></label>
                <div class="input-group" v-for="phone,index in person.phones">

                    <input name="phone[]" id="email-input" :value="phone.phone" @change="changePhone(index)" type="text"
                           class="form-control phone">

                    <div class="input-group-append" @click="removePhone(index)">
                        <button type="button" class="btn btn-outline-danger">
                            <i class="icon-x"></i>
                        </button>
                    </div>

                </div>

                <br v-if="person.phones.length == 0">

                <label for="company-select">Компания</label>
                <select name="person[company_id]" id="company-select" type="text" class="form-control" title="Выберите компанию">
                    <option value=""></option>
                    <option :value="company.id" v-for="company in companies" :selected="companySelected(company.id)">${company.name}</option>
                </select>
                
                <label for="source-input">Источник</label>
                <input name="person[source]" v-model="person.source" id="source-input" type="text" class="form-control">

                <label for="birthday-input">Дата рождения</label>
                <input name="person[birthday]" v-model="person.birthday" id="birthday-input" type="text"
                       class="form-control flatpickr">

                <label for="tags-select">Тэги</label>
                <select name="tags[]" id="tags-select" type="text" class="form-control" multiple>
                    <option :value="tag.id" v-for="tag in tags" :selected="tagSelected(tag)">${tag.title}</option>
                </select>

            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                {% if person.id %}
                    <button type="button" @click="removePerson()" class="btn btn-danger">Удалить</button>
                {% endif %}
            </div>
        </div>

    </form>


{% endblock %}

{% block script %}
    <script>
        var vm = new Vue({
            el: '#lead_form',
            delimiters: ['${', '}'],
            data: {
                person: {% if person.id %}{{ person|json_encode|raw }}{% else %}{phones: [], tags:[]}{% endif %},
                tags: {{ tags|raw }},
                companies: {{ companies|raw }}
            },
            methods: {
                addPhone() {
                    event.preventDefault();
                    vm.person.phones.push({});
                    vm.$nextTick(() => {
                        vm.setPhoneMask();
                    });
                },
                changePhone(index) {
                    vm.person.phones[index].phone = $(event.target).val();
                },
                removePhone(index) {
                    vm.person.phones.splice(index, 1);
                },
                setPhoneMask() {
                    $('.phone').mask('+7(000)-000-00-00');
                },
                createTag() {
                    let text = $(event.target).text();
                    text = text.replace('Создать тэг ', '');
                    text = text.replace(/"/g, '');

                    $.ajax({
                        url: "/api/tags",
                        type: "POST",
                        data: {title: text}
                    }).done((resp) => {
                        vm.tags.push({id: resp, title: text});
                        vm.setTagSelectize();
                    });
                },
                tagSelected(tag) {
                    var selected = false;
                    this.person.tags.forEach(function (_tag) {
                        if (tag.id === _tag.id) {
                            selected = true;
                        }
                    });
                    return selected;
                },
                setTagSelectize() {
                    $('#tags-select').selectpicker('destroy').selectpicker({
                        liveSearch: true,
                        liveSearchNormalize: true,
                        liveSearchPlaceholder: 'Поиск',
                        noneSelectedText: 'Выберите тэг',
                        noneResultsText: "<p style='cursor:pointer' onclick='vm.createTag()'>Создать тэг {0}</p>"
                    });
                },
                removePerson(){
                    fetch('{{ path_for('person.deletePerson', {'id':person.id}) }}', {
                        method: 'delete'
                    }).then(window.location.href = '{{ path_for('person.showAdminPersonList') }}');
                },
                companySelected(id){
                    console.log(id === this.person.company_id);
                    return id === this.person.company_id;
                }
            },
            updated() {
                // this.setTagSelectize();
            },
            mounted() {
                this.setTagSelectize();
                this.setPhoneMask();
                $('#birthday-input').flatpickr({
                    locale: "ru",
                    altFormat: 'j F Y',
                    altInput: true
                });
            }
        });

    </script>
{% endblock %}