{% extends "admin/layout/layout.twig" %}

{% block title %}E-mail рассылка{% endblock %}

{% block page_title %}E-mail рассылка{% endblock %}

{% block icons %}{% endblock %}

{% block content %}
    <form action="">
        <div class="row">
            <div class="col-md-4">
                <label for="header_input">Заголовок письма</label>
                <input name="header" id="header_input" type="text" class="form-control">

                <label for="body_textarea">Текст письма</label>
                <textarea name="body" id="body_textarea" class="form-control"></textarea>

                <label for="tags_select">Клиенты по тегам</label>
                <br>
                <select name="tags[]" id="tags_select" class="selectpicker" title="" multiple>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.title }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="persons_select">Клиенты</label>
                <br>
                <select name="persons[]" id="persons_select" class="selectpicker" title="" multiple>
                    {% for person in persons %}
                        <option value="{{ person.id }}">{{ person.name }}</option>
                    {% endfor %}
                </select>

            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
{% endblock %}