.search_td {
    margin: 0;
    padding: 2px !important;
    display: none;
}

.search_controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
}

.search_controls > i {
    font-size: 1em;
    cursor: pointer;
}