{% extends "admin/layout/layout.twig" %}

{% block title %}{% if product.id %}{{ product.title }}{% else %}Новый товар{% endif %}{% endblock %}

{% block page_title %}{% if product.id %}{{ product.title }}{% else %}Новый товар{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('admin.ecommerce.products.list') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>все товары</span>
    </a>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/assets/admin/libs/wtolk-uploader/wtolk-uploader.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet"/>
    <style>
        .select2-selection__choice{
            color: #000!important;
        }
    </style>
{% endblock %}

{% block content %}

    <form method="post"
          {% if product.id %}
          action="{{ path_for('admin.ecommerce.products.update', {'id': product.id}) }}"
          {% else %}
          action="{{ path_for('admin.ecommerce.products.create') }}"
          {% endif %}
          enctype="multipart/form-data"
    >
        <div class="row">

            <div class="col-md-8">

                <div class="card">

                    <div class="card-body">

                        <input type="hidden" name="product[changed_by_site]" value="1">

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Название</label>
                            <div class="col-lg-9">
                                <input id="title-input" type="text" class="form-control" name="product[title]"
                                       value="{{ product.title }}">
                            </div>
                        </div>

                        {% if product.id %}
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3" for="alias-input">Псевдоним</label>
                                <div class="col-lg-9">
                                    <input id="alias-input" type="text" disabled class="form-control"
                                           value="{{ product.alias }}">
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="meta_title_input">Мета тег title</label>
                            <div class="col-lg-9">
                                <input id="meta_title_input" maxlength="80" type="text" class="form-control"
                                       name="product[meta_title]" value="{{ product.meta_title }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="meta_description_input">Мета тег
                                description</label>
                            <div class="col-lg-9">
                                <input id="meta_description_input" maxlength="200" type="text" class="form-control"
                                       name="product[meta_description]" value="{{ product.meta_description }}">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="description-input">Описание</label>
                            <div class="col-lg-9">
                                <textarea id="description-input" name="product[description]" cols="30" rows="3"
                                          class="form-control">{{ product.description }}</textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="group_id-select">Категория</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="group_id-select">
                                    {% for category in categories %}
                                        <option value="product[category_id]" {% if category.id == product.category_id %}selected{% endif %}>
                                            {{ category.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="tags">Тэги</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="tags" name="tags[]" multiple>
                                    {% for tag in tags %}
                                        <option value="{{ tag.title }}" {% if tag.id in product.tags %}selected{% endif %}>{{ tag.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="article" class="col-form-label col-lg-3">Артикул</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="product[article]" id="article">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="amount" class="col-form-label col-lg-3">Количество</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="product[amount]" id="amount">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="price" class="col-form-label col-lg-3">Цена</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="product[price]" id="price">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="barcode" class="col-form-label col-lg-3">Штрихкод</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="product[barcode]" id="barcode">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="unit">Единица товара</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="unit" name="product[unit]">
                                    {% for code,unit in units %}
                                        <option value="{{ code }}">{{unit}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 d-flex justify-content-center">
                                <button class="btn btn-outline-primary" type="submit">
                                    Сохранить <i class="icon-attachment ml-2"></i>
                                </button>
                            </div>

                            <div class="col-md-6 d-flex justify-content-center">
                                <button id="delete-some" class="btn btn-outline-danger" type="button">
                                    Удалить товар<i class="icon-bin2 ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="uploader"></div>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <form id="frm-del" action="{{ path_for('admin.ecommerce.products.delete', {'id': product.id}) }}" method="get"></form>
{% endblock %}

{% block script %}
    <script src="/assets/admin/libs/jQuery/plugins/sortable.js"></script>
    <script src="/assets/admin/libs/wtolk-uploader/wtolk-uploader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script>
        var uploader = new WtolkUploader({
            el: '.uploader',
            input_name: 'images[]',
            files: {% if product.images %}{{ product.images|json_encode|raw }}{% else %}[]{% endif %}
        });

        $(document).ready(function () {
            $('#tags').select2({
                tags: true,
                maximumSelectionLength: 10,
                allowClear: true,
                language: 'ru'
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#delete-some').click(function () {
                if (confirm('Удалить?')) {
                    $('#frm-del').submit();
                }
            });
        });
    </script>
{% endblock %}