{% extends "admin/layout/layout.twig" %}

{% block links %}
    <link rel="stylesheet" href="{{ path_for('module.css', {'module_name':'Ecommerce', 'filename':'styles.css'}) }}">
{% endblock %}

{% block title %}Товары{% endblock %}

{% block page_title %}Товары{% endblock %}

{% block icons %}
    <a href="javascript:toggleFilters()" class="btn btn-link btn-float text-default">
        <i class="icon-search4 text-primary" style="font-size: 1.4rem"></i>
        <span>Поиск</span>
    </a>
    <a href="{{ path_for('admin.ecommerce.products.add') }}" class="btn btn-link btn-float text-default">
        <i class="icon-plus3 text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
{% endblock %}


{% block content %}
    <form id="filterForm" action="{{ path_for('admin.ecommerce.products.list') }}" method="get"></form>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th class="search_td"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="search_td">
                            <input form="filterForm" class="form-control" value="{{ filter['article:like'] }}" name="filter[article:like]" placeholder="Поиск по артикулу.." type="text">
                        </td>
                        <td class="search_td">
                            <input form="filterForm" class="form-control" value="{{ filter['title:like'] }}" name="filter[title:like]" placeholder="Поиск по названию.." type="text">
                        </td>
                        <td class="search_td"></td>
                        <td class="search_td"></td>
                        <td class="search_td">
                            <div class="search_controls">
                                <i onclick="submitFilters()" class="icon-filter3 text-primary"></i>
                                <i onclick="clearFilters()" class="icon-x text-danger"></i>
                            </div>
                        </td>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.products.edit', {'id':product.id}) }}">{{ product.article }}</a>
                            </td>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.products.edit', {'id':product.id}) }}">{{ product.title }}</a>
                            </td>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.products.edit', {'id':product.id}) }}">{{ product.price }}</a>
                            </td>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.products.edit', {'id':product.id}) }}">{{ product.amount }}</a>
                            </td>
                            <td class="search_td"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ showPaginate(products)|raw }}

{% endblock %}

{% block script %}
    <script>
        function toggleFilters() {
            let elements = document.querySelectorAll('.search_td');

            if (getComputedStyle(elements[0]).display !== 'none'){
                hideFilters(elements);
            } else {
                showFilters(elements);
            }
        }

        function hideFilters(elements) {
            Object.keys(elements).forEach(k=>{
                elements[k].style.display = 'none';
            })
        }

        function showFilters(elements) {
            Object.keys(elements).forEach(k=>{
                elements[k].style.display = 'table-cell';
            })
        }

        function submitFilters() {
            document.getElementById('filterForm').submit();
        }

        function clearFilters() {
            window.location.href = "{{ path_for('admin.ecommerce.products.list') }}";
        }

        {% if filter|length > 0 %}
        toggleFilters();
        {% endif %}
    </script>
{% endblock %}