{% extends "admin/layout/layout.twig" %}

{% block title %}Задачи{% endblock %}

{% block page_title %}Задачи{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/assets/admin/libs/jQuery/plugins/selectize.default.css">
{% endblock %}
{% block icons %}

{% endblock %}

{% block content %}
    <style>
        .task-title {
            outline: none;
            padding-top: 7px;
            padding-bottom: 6px;
            margin-top: -4px;
            margin-bottom: -3px;
            border: 1px solid #ffffff;
        }

        .task-title:hover, .task-title:focus {
            border: 1px solid #cccccc;
            border-radius: 4px;
        }

        .section-handle, .task-handle {
            cursor: grab;
        }

        .section {
            padding: 0;
            width: 100%!important;
        }

        .section > .list-group {
            margin-bottom: 0;
        }

        .nbsp {
            height: 2px;
        }

        .fileinput-label {
            cursor: pointer;
        }

        .removeFile {
            position: absolute;
            top:0;
            transform: scale(1.3, 1.3);
            margin-left: 5px;
            cursor: pointer;
        }

        .removeFile:hover {
            color: red;
            text-shadow: 1px 1px rgba(0, 0, 0, .4);
        }

        [contentEditable=true]:empty:not(:focus):before {
            content: attr(data-text)
        }

        .removeSection{
            position: absolute;
            right: 3%;
            margin-top: 2px;
            cursor: pointer;
        }

        .dashboard_section{
            border: 1px solid #324148;
            padding: 4px;
            margin-left: 4px;
            border-radius: 5px;
        }

        #items{
            margin-top: 5px;
        }
    </style>

    <div class="row" id="tasks_page" style="display: none">

        <div id="tasks_dashboard" v-if="tasks_style == 'dashboard'">

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary" @click="addTaskWithoutSection">Добавить задачу</button>
                    <button class="btn btn-primary" @click="addSection">Добавить раздел</button>
                    <button class="btn" @click="toggleStyle">Плитка</button>
                </div>
            </div>
            <div class="list-group" style="width: auto; min-width: 1000px; overflow-x: scroll; margin-top: 5px;">

                <div id="items" style="display: flex; flex-wrap: nowrap; flex-direction: row;">
                    <div class="section col-3 dashboard_section" :class="getSectionsClasses(section.position)" :data-section_index="section_index" :data-section_title="section.title" v-for="section,section_index in sections">

                        <h4 v-if="section.title && section.title !== ''" class="section-handle">
                            <b class="ml-1">${section.title}</b>
                            <span class="btn btn-sm" @click="addTask(section_index)"><i class="icon-plus2"></i></span>

                            <a class="removeSection" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-menu"></i>
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" @click="removeSection(section, section_index)">Удалить</a>
                                <a class="dropdown-item" @click="removeSectionWithTasks()">Удалить вместе с задачами</a>
                            </div>

                        </h4>
                        <input class="h4" v-else-if="section_index != 0" @change="createSection(section_index)" type="text">

                        <div :data-section_index="section_index" :data-section_id="section.id" :id="'section_'+section_index" style="width: 100%">
                            <div class="nbsp task-draggable">&nbsp;</div>
                            <div class="input-group input-group-sm" :data-task_index="task_index" :class="getTaskClasses(task)" :data-task_id="task.id" v-for="task,task_index in section.tasks">

                                <div class="input-group-prepend task-handle">
                                <span class="input-group-text">
                                    <i class="icon-menu7"></i>
                                </span>
                                </div>

                                <input class="task form-control"
                                       @click="clickAtTask(task)"
                                       @change="changeTaskTitle(section_index,task_index)"
                                       :value="task.title"
                                       style="cursor: pointer">


                                <div class="input-group-append">
                                    <div class="input-group-text" v-for="tag in task.tags">
                                        ${tag.title}
                                    </div>

                                    <div class="input-group-text btn-outline-danger" @click="removeTask(section_index,task_index)" style="cursor: pointer">
                                        <span class="icon-x"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="tasks-list"  v-if="tasks_style == 'list'">

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary" @click="addTaskWithoutSection">Добавить задачу</button>
                    <button class="btn btn-primary" @click="addSection">Добавить раздел</button>
                    <button class="btn" @click="toggleStyle">Список</button>
                </div>
            </div>
            <div class="list-group" id="items" style="padding-top: 0;">

                <div class="section" :class="getSectionsClasses(section.position)" :data-section_index="section_index" :data-section_title="section.title" v-for="section,section_index in sections">

                    <h4 v-if="section.title && section.title !== ''" class="section-handle">
                        <b class="ml-1">${section.title}</b>
                        <span class="btn btn-sm" @click="addTask(section_index)"><i class="icon-plus2"></i></span>

                            <a class="removeSection" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-menu"></i>
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" @click="removeSection(section, section_index)">Удалить</a>
                                <a class="dropdown-item" @click="removeSectionWithTasks()">Удалить вместе с задачами</a>
                            </div>

                    </h4>
                    <input class="h4" v-else-if="section_index != 0" @change="createSection(section_index)" type="text">

                    <div :data-section_index="section_index" :data-section_id="section.id" :id="'section_'+section_index" style="width: 100%">
                        <div class="nbsp task-draggable">&nbsp;</div>
                        <div class="input-group input-group-sm" :data-task_index="task_index" :class="getTaskClasses(task)" :data-task_id="task.id" v-for="task,task_index in section.tasks">

                            <div class="input-group-prepend task-handle">
                                <span class="input-group-text">
                                    <i class="icon-menu7"></i>
                                </span>
                            </div>

                            <input class="task form-control"
                                   @click="clickAtTask(task)"
                                   @change="changeTaskTitle(section_index,task_index)"
                                   :value="task.title"
                                   style="cursor: pointer">


                            <div class="input-group-append">
                                <div class="input-group-text" v-for="tag in task.tags">
                                    ${tag.title}
                                </div>

                                <div class="input-group-text btn-outline-danger" @click="removeTask(section_index,task_index)" style="cursor: pointer">
                                    <span class="icon-x"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6 list-group" v-if="current_task">

            <div class="row list-group-item">
                <div class="col-md-12 text-center">
                    <task_title :content="current_task" class="h3 task-title" @update="current_task.title = $event"></task_title>
                </div>
            </div>

            <div class="row list-group-item" style="padding: 0;">
                <div class="col-12">
                    <task_description :content="current_task" @update="current_task.description = $event"></task_description>
                </div>
            </div>
            <div class="row list-group-item" style="padding: 0;">
                <div class="col-md-6">
                    <label for="">Тэги:</label>
                    <select type="text" id="tags_select" multiple>
                        <option :value="tag.id" v-for="tag in tags" :selected="tagSelected(tag)">
                            ${tag.title}
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="">Исполнитель</label>
                    <select type="text" id="users_select" multiple>
                        <option :value="user.id" v-for="user in users" :selected="userSelected(user)">
                            ${user.first_name}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row list-group-item" style="padding: 0;">
                <div class="col-12">

                    <div class="row">
                        <div class="col-12">
                            <label for="fileinput" class="fileinput-label btn btn-primary btn-sm">Прикрепить файл</label>
                            <input type="file" @change="loadFile" id="fileinput" style="display: none">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="list-unstyled" style="margin-top: 5px;">
                                <li v-for="file in current_task.files">
                                    <img :src="file.path" v-if="img_ext.includes(file.extension)" style="width: 50%">
                                    <a v-else="" :href="file.path">${file.filename}</a>
                                    <i class="icon-x removeFile" @click="removeFile(file.id)"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block script %}

    <script src="/assets/admin/libs/jQuery/plugins/sortable.js"></script>
    <script src="/assets/admin/libs/ckeditor/ckeditor5-classic.js"></script>
    <script src="/assets/admin/libs/jQuery/plugins/selectize.min.js"></script>
    <script>

        function ready() {
            $('#tasks_page').css('display', 'flex');
        }
        document.addEventListener("DOMContentLoaded", ready);

        Vue.component('task_title', {
            template: '<div contenteditable="true"  @input="update"></div>',
            props: ['content'],
            data: function () {
                return {
                    timer: false
                }
            },
            mounted: function () {
                this.$el.innerText = this.content.title;
            },
            methods: {
                update: function (event) {
                    this.$emit('update', event.target.innerText);
                    this.timer !== false ? clearTimeout(this.timer) : false;
                    this.timer = setTimeout(this.updateInDatabase, 1000);
                },
                updateInDatabase: function () {
                    this.timer = false;
                    $.ajax({
                        url: "/api/tasks/" + this.content.id + "/change-title",
                        type: "POST",
                        data: {title: this.content.title}
                    })
                }
            },
            watch: {
                content: function () {
                    this.$el.innerText = this.content.title;
                }
            }
        });

        Vue.component('task_description', {
            template: '<textarea id="editor" @input="update"></textarea>',
            props: ['content'],
            data: function () {
                return {
                    editor: false,
                    task_id: null,
                    timer: false
                }
            },
            mounted: function () {
                ClassicEditor
                    .create(document.querySelector('#editor'), {
                        toolbar: ['heading', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                    })
                    .then(editor => {
                        this.editor = editor;
                        this.task_id = this.content.id;
                        editor.setData(this.content.description !== null ? this.content.description : '');
                        editor.model.document.on('change:data', () => {
                            this.update()
                        });
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            methods: {
                update: function (event) {
                    if (this.content.id === this.task_id) {
                        this.timer !== false ? clearTimeout(this.timer) : false;
                        this.timer = setTimeout(this.updateInDatabase(this.editor.getData()), 1000);
                    } else {
                        this.task_id = this.content.id;
                    }
                },
                updateInDatabase: function (description) {
                    this.timer = false;
                    $.ajax({
                        url: "/api/tasks/" + this.task_id + "/change-description",
                        type: "POST",
                        data: {description: description}
                    })
                }
            },
            watch: {
                content: function () {
                    this.editor.setData(this.content.description !== null ? this.content.description : '');
                }
            }
        });

        var vm = new Vue({
            el: '#tasks_page',
            delimiters: ['${', '}'],
            data: {
                img_ext: ['jpg', 'png', 'tiff', 'bmp', 'jpeg', 'jpe'],
                sections: {{ sections|raw }},
                tags: {{ tags|raw }},
                users: {{ users|raw }},
                current_task: false,
                description: false,
                add_tasks: false,
                selectizeTags: false,
                selectizeUsers: false,
                creating_tag: false,
                tasks_style:'list'
            },
            methods: {
                toggleStyle(){
                    this.tasks_style = this.tasks_style === 'list'? 'dashboard':'list';
                    $.cookie("tasks_style", this.tasks_style, { expires: 7, path: '/' });
                    location.reload();
                },

                clickAtTask(task) {
                    if (task.id !== '') {
                        vm.showDescription();
                        vm.current_task = task;
                        vm.$forceUpdate();
                    }
                },
                showDescription() {
                    if (!vm.description) {
                        $('#tasks-list').removeClass('col-md-12').addClass('col-6');
                        vm.description = true;
                    }
                },

                changeTaskTitle(section_index, task_index) {
                    var input = $(event.target);
                    var id = vm.sections[section_index].tasks[task_index].id;
                    var newTitle = input.val();

                    if (id !== '') {
                        $.ajax({
                            url: "/api/tasks/" + id + "/change-title",
                            type: "POST",
                            data: {title: newTitle}
                        }).done(function () {
                            vm.sections[section_index].tasks[task_index].title = newTitle;
                        });
                    } else {
                        var section_id = vm.sections[section_index].id;
                        var tasks = vm.sections[section_index].tasks;
                        var position = vm.sections[section_index].tasks.length;

                        $.ajax({
                            url: "/api/projects/" + '{{ project.id }}' + "/tasks",
                            type: "POST",
                            data: {section_id: section_id, title: newTitle, position: position}
                        }).done(function (resp) {
                            resp = JSON.parse(resp);
                            vm.sections[section_index].tasks[task_index] = resp;
                            vm.$forceUpdate();
                            vm.add_tasks = false;
                        });
                    }

                },
                addTask(section_index) {
                    if (vm.add_tasks !== true) {

                        // 1.Понять, в какую секцию добавлять

                        var section = $(event.target).parent().parent();

                        if (section.data('section_index') === undefined){
                            section = section.parent();
                        }
                        section_index = section.data('section_index');

                        var first_task_index = $($($('.section')[section_index]).children('div').children()[0]).data('task_index');

                        if (first_task_index === undefined){
                            first_task_index = $($($('.section')[section_index]).children('div').children()[1]).data('task_index');
                        }

                        vm.sections[section_index].tasks.splice(first_task_index, 0, ({
                            'id': '',
                            'title': '',
                            tags: [],
                            'position': 0
                        }));
                        vm.$forceUpdate();
                        vm.add_tasks = true;
                    }
                },
                addTaskWithoutSection() {
                    if (vm.add_tasks !== true) {

                        var first_task_index = $($($('.section')[0]).children('div').children()[0]).data('task_index');

                        if (first_task_index === undefined){
                            first_task_index = $($($('.section')[0]).children('div').children()[1]).data('task_index');
                        }

                        vm.sections[0].tasks.splice(first_task_index,0,{'id': '', 'title': '', 'position': 0});
                        vm.$forceUpdate();
                        vm.add_tasks = true;
                    }
                },
                removeTask(section_index, task_index) {
                    if (vm.sections[section_index].tasks[task_index].id === '') {
                        vm.sections[section_index].tasks.splice(task_index, 1);
                        vm.add_tasks = false
                    } else {
                        $.ajax({
                            url: "/api/tasks/" + vm.sections[section_index].tasks[task_index].id + "/delete",
                            type: "GET"
                        }).done(function (resp) {
                            vm.sections[section_index].tasks.splice(task_index, 1);
                            vm.$forceUpdate();
                        });
                    }

                },

                addSection() {
                    let sections = $('.section');
                    vm.sections.splice(1, 0, {id: '', title: '', position: '', tasks: []});
                },
                createSection(section_index) {
                    var title = $(event.target).val();

                    var position = vm.sections.length - 1;
                    $.ajax({
                        url: "/api/projects/" + '{{ project.id }}' + "/add-section",
                        type: "POST",
                        data: {title: title, position: position}
                    }).done(function (resp) {
                        resp = JSON.parse(resp);
                        vm.sections[section_index] = resp;
                        vm.$forceUpdate();
                    });
                },
                removeSection(){
                    if (!confirm('Удалить этап?\nВсе задачи внутри данного этапа будут перемещены'))return false;

                    var current_section = $(event.target).parent().parent().parent();
                    var sections  = $('.section');

                    var section_index = current_section.data('section_index');
                    var section_id = vm.sections[section_index].id;

                    var tasks = current_section.children('div').children('.input-group');

                    Object.keys(tasks).forEach((x)=>{
                        if (!isNaN(+x)){
                            $(sections[0]).children().prepend(tasks[(tasks.length-1)-x])
                        }
                    });

                    vm.sections.splice(section_index,1);
                    vm.setSortable();

                    $.ajax({
                        url: "/api/section/" + section_id,
                        type: "delete"
                    });
                },

                changeSectionPosition(){
                    var len = vm.sections.length;
                    var sections = $('.section');
                    var newSections = {};
                    var toApi = [];
                    newSections[0] = vm.sections[0];

                    sections.map(function (key, section) {
                        if (key > 0) {
                            newSections[key] = vm.sections[$(section).data().section_index];
                            newSections[key].position = len - key;
                            toApi.push({id: newSections[key].id, position: newSections[key].position});
                        }
                    });
                    // vm.sections = newSections;

                    $.ajax({
                        url: "/api/section/change-position",
                        type: "POST",
                        data: {sections: toApi}
                    }).done(function (resp) {
                        resp = JSON.parse(resp);
                        vm.$forceUpdate()
                    });

                },
                getSectionsClasses(position) {
                    if (position > 0) {
                        return 'draggable'
                    }
                },
                getTaskClasses(task) {
                    if (task.id !== '') {
                        return 'task-draggable';
                    }
                },

                setSortable() {
                    Sortable.create(items, {
                        group: 'sections',
                        draggable: '.draggable',
                        handle: '.section-handle',
                        onEnd: function (evt) {
                           vm.changeSectionPosition();
                        },
                    });

                    var sectionElement;
                    vm.sections.forEach(function (section, index) {
                        sectionElement = document.getElementById('section_' + index);
                        Sortable.create(sectionElement, {
                            group: 'tasks',
                            sort: true,
                            draggable: '.task-draggable',
                            handele: '.task-handle',
                            animation: 150,
                            onEnd: function (evt) {
                                if (evt.from !== evt.to) {
                                    var tto = $(evt.to).children();
                                    var tsks = [];

                                    tto.map(function (key, task) {
                                        if ($(task).data().task_id !== undefined) {
                                            let task_id = $(task).data().task_id;
                                            let task_position = tto.length - key - 1;
                                            let section_id = $(evt.to).data().section_id !== undefined ? $(evt.to).data().section_id : '';
                                            tsks.push({id: task_id, position: task_position, section_id: section_id});
                                        }
                                    });

                                    $.ajax({
                                        url: "/api/tasks/change-position",
                                        type: "POST",
                                        data: {tasks: tsks}
                                    }).done(function (resp) {
                                        resp = JSON.parse(resp);
                                        vm.$forceUpdate()
                                    });

                                }

                                var tasks = $(evt.from).children();
                                var tasksToApi = [];

                                tasks.map(function (key, task) {
                                    if ($(task).data().task_id !== undefined) {
                                        let task_id = $(task).data().task_id;
                                        let task_position = tasks.length - key - 1;
                                        let section_id = $(evt.from).data().section_id !== undefined ? $(evt.from).data().section_id : '';
                                        tasksToApi.push({id: task_id, position: task_position, section_id: section_id});
                                    }
                                });

                                $.ajax({
                                    url: "/api/tasks/change-position",
                                    type: "POST",
                                    data: {tasks: tasksToApi}
                                }).done(function (resp) {
                                    resp = JSON.parse(resp);
                                    vm.$forceUpdate()
                                });
                            },
                        })
                    })
                },

                setTagsSelectize() {
                    if (vm.description !== false) {
                        vm.selectizeTags = $('#tags_select').selectize({
                            plugins: ['remove_button'],
                            placeholder: 'Добавить тэг',
                            create: function (input) {
                                vm.createTag(input);
                                return {
                                    value: input,
                                    text: input
                                }
                            },
                            onItemAdd: function (value, item) {
                                vm.addTagToTask(value);
                            },
                            onItemRemove(value) {
                                vm.removeTagFromTask(value);
                            }
                        })
                    }
                },
                createTag(tag_name) {
                    vm.creating_tag = true;
                    $.ajax({
                        url: "/api/tasks/create-tag",
                        type: "POST",
                        data: {title: tag_name}
                    }).done(function (resp) {
                        resp = JSON.parse(resp);
                        vm.tags.push(resp);
                        vm.creating_tag = false;
                        vm.addTagToTask(resp.id);
                    })
                },
                addTagToTask(tag_id) {
                    if (!vm.creating_tag) {
                        tag = vm.getTagFromId(tag_id);
                        $.ajax({
                            url: "/api/tasks/" + vm.current_task.id + "/add-tag",
                            type: "POST",
                            data: {tag_id: tag_id}
                        });

                        vm.current_task.tags.push(tag);
                        vm.refreshSelectizeTags();
                    }
                },
                getTagFromId(tag_id) {
                    let tag;
                    vm.tags.forEach(function (item) {
                        if (item.id == tag_id) {
                            tag = item;
                        }
                    });
                    return tag;
                },
                removeTagFromTask(tag_id) {
                    vm.current_task.tags.forEach(function (tag, index) {
                        if (tag.id == tag_id) {
                            vm.current_task.tags.splice(index, 1);
                        }
                    });
                    $.ajax({
                        url: "/api/tasks/" + vm.current_task.id + "/remove-tag",
                        type: "POST",
                        data: {tag_id: tag_id}
                    });
                },
                tagSelected(tag) {
                    let selected = false;
                    vm.current_task.tags.forEach(function (_tag) {
                        if (tag.id === _tag.id) {
                            selected = true;
                        }
                    });
                    return selected;
                },
                refreshSelectizeTags() {
                    if (vm.selectizeTags !== false) {
                        var select = vm.selectizeTags;
                        select[0].selectize.destroy();
                    }
                },

                loadFile() {
                    var file_data = $(event.target).prop('files')[0];
                    var form_data = new FormData();
                    form_data.append('file', file_data);

                    $.ajax({
                        url: '/api/tasks/' + vm.current_task.id + '/add-file',
                        dataType: 'text',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: form_data,
                        type: 'post'
                    }).done(function (resp) {
                        resp = JSON.parse(resp);
                        if (resp !== false) {
                            vm.current_task.files = resp.files;
                        }
                    });
                },
                removeFile(file_id) {
                    $.ajax({
                        url: "/api/tasks/" + vm.current_task.id + "/remove-file",
                        type: "POST",
                        data: {file_id: file_id}
                    }).done((resp) => {
                        resp = JSON.parse(resp);
                        vm.current_task.files = resp.files;
                    });
                },

                setUsersSelectize() {
                    if (vm.description !== false) {
                        vm.selectizeUsers = $('#users_select').selectize({
                            plugins: ['remove_button'],
                            placeholder: 'Назначить исполнителей',
                            onItemAdd: function (value) {
                                vm.addUserToTask(value);
                            },
                            onItemRemove(value) {
                                vm.removeUserFromTask(value);
                            }
                        })
                    }
                },
                addUserToTask(user_id) {
                    user = vm.getUserFromId(user_id);
                    $.ajax({
                        url: "/api/tasks/" + vm.current_task.id + "/add-user",
                        type: "POST",
                        data: {user_id: user_id}
                    }).done(() => {
                        vm.current_task.users.push(user);
                        vm.refreshSelectizeUsers();
                    });
                },
                getUserFromId(user_id) {
                    let user;
                    vm.users.forEach(function (item) {
                        if (item.id == user_id) {
                            user = item;
                        }
                    });
                    return user;
                },
                removeUserFromTask(user_id) {
                    vm.current_task.users.forEach(function (user, index) {
                        if (user.id == user_id) {
                            vm.current_task.users.splice(index, 1);
                        }
                    });
                    $.ajax({
                        url: "/api/tasks/" + vm.current_task.id + "/remove-user",
                        type: "POST",
                        data: {user_id: user_id}
                    });
                },
                userSelected(user) {
                    let selected = false;
                    vm.current_task.users.forEach(function (_user) {
                        if (user.id === _user.id) {
                            selected = true;
                        }
                    });
                    return selected;
                },
                refreshSelectizeUsers() {
                    if (vm.selectizeUsers !== false) {
                        var select = vm.selectizeUsers;
                        select[0].selectize.destroy();
                    }
                },
            },
            watch: {
                current_task() {
                    vm.refreshSelectizeTags();
                    vm.refreshSelectizeUsers();
                }
            },
            updated() {
                this.$nextTick(function () {
                    vm.setSortable();
                    vm.setTagsSelectize();
                    vm.setUsersSelectize();
                });
            },
            mounted() {
                this.$nextTick(function () {
                    vm.setSortable();
                });
            },
            beforeMount(){
                if ($.cookie("tasks_style") == 'dashboard'){
                    this.tasks_style = 'dashboard';
                }
            }
        });


    </script>
{% endblock %}