{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/assets/admin/libs/wtolk-uploader/wtolk-uploader.css">
{% endblock %}

{% block content %}

    <div class="container">

        <form action="/uploader{% if user %}/{{ user.id }}{% endif %}" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-12">
                    <div class="uploader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn" type="submit">submit</button>
                </div>
            </div>

        </form>

    </div>
{% endblock %}


{% block script %}
    <script src="/assets/admin/libs/jQuery/plugins/sortable.js"></script>
    <script src="/assets/admin/libs/wtolk-uploader/wtolk-uploader.js"></script>

    <script>
        var uploader = new WtolkUploader({
            el: '.uploader',
            input_name: "files[]",
            files: {% if user.files %}{{ user.files|json_encode|raw }}{% else %}[]{% endif %},
            required: true
        });
    </script>
{% endblock %}