{% extends "admin/layout/layout.twig" %}

{% block title %}Проекты{% endblock %}

{% block page_title %}Проекты{% endblock %}

{% block icons %}
    <a href="{{ path_for('project.showAdminProjectAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12 ">
                <table class="table table-hover">
                    <tbody>
                    {% for project in projects %}
                        <tr onclick="document.location = '{{ path_for('task.showAdminTaskList', {'id':project.id}) }}';" style="cursor: pointer">
                            <td>{{ project.title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
{% endblock %}