{% extends "admin/layout/layout.twig" %}

{% block title %}{% if project.id %}{{ project.title }}{% else %}Новый проекты{% endif %}{% endblock %}

{% block page_title %}{% if project.id %}{{ project.title }}{% else %}Новый проект{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('project.showAdminProjectList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список проектов</span>
    </a>
{% endblock %}

{% block content %}

            <form
                    method="post"
                    name="login_form"
                    {% if project.id %}
                        action="{{ path_for('project.updateProject', {'id': project.id}) }}"
                    {% else %}
                        action="{{ path_for('project.createProject') }}"
                    {% endif %}
            >
                <div class="row">

                    <div class="col-md-12">

                        <div class="form">

                            <div class="col-md-4">
                                <div class="row">
                                    <label for="title-input">Название</label>
                                    <input id="title-input" type="text" class="form-control" name="project[title]"
                                           value="{{ project.title }}">
                                </div>


                            </div>

                        </div>

                    </div>

                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-4">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>

                    <div class="col-md-4">
                        {% if project.id %}
                            <button id="delete-user" class="btn btn-danger" type="button">Удалить проект</button>
                        {% endif %}
                    </div>
                </div>

            </form>

            <form id="frm-del-user" action="{{ path_for('project.deleteProject', {'id': project.id}) }}" method="get">
            </form>

{% endblock %}

{% block script %}

    <script type="text/javascript">

        $(function () {
            $('#delete-user').click(function () {
                if (confirm('Удалить?')) {
                    $('#frm-del-user').submit();
                }
            });
        });
    </script>
{% endblock %}