{% extends "admin/layout/layout.twig" %}

{% block title %}{% if order %}Заказ №{{ order.id }}{% else %}Новый заказ{% endif %}{% endblock %}

{% block page_title %}{% if order %}Заказ №{{ order.id }}{% else %}Новый заказ{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('admin.ecommerce.orders.list') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Все заказы</span>
    </a>
{% endblock %}

{% block links %}

{% endblock %}

{% block content %}

    <form id="order_form" method="post"
            {% if order %}
                action="{{ path_for('admin.ecommerce.orders.update', {'id': order.id}) }}"
            {% else %}
                action="{{ path_for('admin.ecommerce.orders.create') }}"
            {% endif %}
    >
        <input type="hidden" name="products" id="products_input">
        <div id="order_info" class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">

                        <h4>Информация о заказе</h4>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="phone_input">Номер телефона покупателя</label>
                            <div class="col-lg-9">
                                <input oninput="getUserDiscount()" required id="phone_input" type="text" class="form-control phone" name="user[phone]" value="{{ order.user.phone }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="discount_input">Скидка покупателя</label>
                            <div class="col-lg-9">
                                <input id="discount_input" type="text" readonly class="form-control" value="{% if order %}{{ order.user.discount }}{% else %}0{% endif %} %">
                            </div>
                        </div>

                        {% if order %}
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="alias-input">Дата создания заказа</label>
                            <div class="col-lg-9">
                                <input id="alias-input" type="text" readonly class="form-control" value="{{ order.created_at }}">
                            </div>
                        </div>
                        {% endif %}

                        <h4>Товары в заказе</h4>

                        <table class="table">
                            <tr>
                                <th>id</th>
                                <th>Наименование</th>
                                <th>Кол-во в заказе</th>
                                <th>Кол-во на складе</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                            <tr v-for="product, i in products">
                                <td>${product.id}</td>
                                <td>${product.title}</td>
                                <td>
                                    <div style="width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: space-between">
                                        <div>
                                            <button type="button" class="btn btn-sm btn-outline-danger font-weight-bold" @click="lessAmount(i)">—</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-sm" disabled style="background-color: inherit;color: #000000!important;opacity: 1">${product.pivot.amount}</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-sm btn-outline-success font-weight-bold" @click="moreAmount(i)">+</button>
                                        </div>
                                    </div></td>
                                <td>${product.amount}</td>
                                <td>${product.discounted_price} руб</td>
                                <td>
                                    <button @click="removeProduct(i)" type="button" class="btn btn-outline-warning btn-sm"><i class="icon-x"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    Общая стоимость : ${cost} руб
                                </td>
                            </tr>
                        </table>
                        <button onclick="openAddProductModal()" type="button" class="btn btn-outline-primary">Добавить товар</button>

                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-start">
                                <button class="btn btn-outline-primary" type="button" onclick="submitForm()">
                                    Сохранить <i class="icon-attachment ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLongTitle">Выбор товара</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input v-model="title" id="title_input" type="text" class="form-control" placeholder="Название">
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-12">
                            <input v-model="article" id="article_input" type="text" class="form-control" placeholder="Артикул">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <table class="table" v-if="products.length > 0">
                                <tr>
                                    <th>Артикул</th>
                                    <th>Название</th>
                                    <th></th>
                                </tr>
                                <tr v-for="product,i in products">
                                    <td>${ product.article }</td>
                                    <td>${ product.title }</td>
                                    <td>
                                        <button @click="addProduct(i)" class="btn btn-outline-primary">Добавить</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button @click="getProducts()" type="button" class="btn btn-primary">Поиск</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        if (location.hash === '#success'){
            history.pushState("", document.title, window.location.pathname
                + window.location.search);
            alert('Заказ успешно создан');
        }

        var add_product = new Vue({
            el: '#addProductModal',
            delimiters: ['${','}'],
            data:{
                products: [],
                title: '',
                article: '',
            },
            methods: {
                getProducts() {
                    $.ajax({
                        url: '{{ path_for('admin.ecommerce.products.get-by-title') }}',
                        method: 'get',
                        data: {
                            title: this.title,
                            article: this.article,
                            user_id: order.user_id
                        }
                    }).done(resp => {
                        if (resp.status){
                            this.products = resp.products
                        } else {
                            alert(resp.message);
                        }
                    });
                },
                addProduct(i){
                    var product = Object.assign({}, this.products[i]);
                    product.pivot = {
                        amount: 1,
                        {#order_id: {{ order.id }},#}
                        price: product.discounted_price,
                        product_id: product.id
                    };
                    order.products.push(product);
                    this.products.splice(i,1);
                    $('#addProductModal').modal('hide');
                    order.updateCost();
                }
            }
        });

        var order = new Vue({
            el: '#order_info',
            delimiters: ['${', '}'],
            data: {
                products: {% if order %}{{ order.products|json_encode|raw }}{% else %}[]{% endif %},
                cost: {% if order %}{{ order.total_cost }}{% else %}0{% endif %},
                user_id: {% if order %}{{ order.user_id }}{% else %}false{% endif %}
            },
            methods: {
                lessAmount(i) {
                    this.products[i].pivot.amount--;
                    this.checkAmount(this.products[i]);
                    this.$nextTick(()=>this.updateCost());
                    this.updateCost();
                },
                moreAmount(i) {
                    this.products[i].pivot.amount++;
                    this.checkAmount(this.products[i]);
                    this.$nextTick(()=>this.updateCost());
                },
                checkAmount(product) {
                    switch (true) {
                        case product.pivot.amount > product.amount:
                            product.pivot.amount = product.amount;
                            break;
                        case product.pivot.amount < 1:
                            product.pivot.amount = 1;
                            break;
                    }
                },
                updateCost(){
                    var cost = 0;
                    this.products.forEach(product=>{
                        cost += product.pivot.amount*product.discounted_price;
                    });
                    this.cost = c_round(cost, 2);
                },
                removeProduct(i){
                    this.products.splice(i,1);
                    this.updateCost();
                }
            }
        });

        function openAddProductModal() {
            $('#addProductModal').modal('show');
        }

        function submitForm() {

            $.ajax({
                url: document.getElementById('order_form').action,
                method: 'post',
                data: {
                    user:{
                        phone: '7'+$('.phone').cleanVal()
                    },
                    products: JSON.stringify(order.products)
                }
            }).done(resp=>{
                if (resp.status){
                    if (resp.href){
                        window.location.href = resp.href;
                    } else {
                        alert(resp.message);
                    }
                } else {
                    alert(resp.message);
                }
            });


            // document.getElementById('products_input').value = JSON.stringify(order.products);
            // document.getElementById('order_form').submit();
        }

        function getUserDiscount() {
            var phone = '7'+$('.phone').cleanVal();
            if (phone.length === 11){
                $.ajax({
                    url: "{{ path_for('admin.ecommerce.user.get-discount') }}",
                    method: "get",
                    data:{
                        phone: phone
                    }
                }).done(resp=>{
                    setDiscount(resp.discount);
                    order.user_id = resp.user_id;
                });
            } else {
                setDiscount(0);
                order.user_id = false;
            }
        }

        function setDiscount(v){
            document.getElementById('discount_input').value = v + ' %';
            order.products.map(product=>{
                product.discounted_price = c_round(product.price*(1 - v/100), 2);
            });
            order.updateCost();
        }

        function c_round(val, precision){
            let koef = Math.pow(10, precision);
            return Math.round(val*koef)/koef;
        }

        $('.phone').mask('+7(000)-000-00-00');

    </script>
{% endblock %}