{% extends "admin/layout/layout.twig" %}

{% block links %}
    <link rel="stylesheet" href="{{ path_for('module.css', {'module_name':'Ecommerce', 'filename':'styles.css'}) }}">
{% endblock %}

{% block title %}Заказы{% endblock %}

{% block page_title %}Заказы{% endblock %}

{% block icons %}
    <a href="javascript:toggleFilters()" class="btn btn-link btn-float text-default">
        <i class="icon-search4 text-primary" style="font-size: 1.4rem"></i>
        <span>Поиск</span>
    </a>

    <a href="{{ path_for('admin.ecommerce.orders.add') }}" class="btn btn-link btn-float text-default">
        <i class="icon-add text-primary" style="font-size: 1.4rem"></i>
        <span>Создать заказ</span>
    </a>
{% endblock %}

{% block content %}
    <form id="filterForm" action="{{ path_for('admin.ecommerce.orders.list') }}" method="get"></form>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Номер телефона</th>
                        <th>Дата заказа</th>
                        <th class="search_td"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="search_td">
                            <input form="filterForm" class="form-control" value="{{ filter['id:like'] }}" name="filter[id:like]" placeholder="Поиск по id.." type="text">
                        </td>
                        <td class="search_td">
                            <input form="filterForm" class="form-control" value="{{ filter['user.phone:like'] }}" name="filter[user.phone:like]" placeholder="Поиск по номеру телефона.." type="text">
                        </td>
                        <td class="search_td">
                            <input form="filterForm" class="form-control" value="{{ filter[':createdAtDayFilter'] }}" name="filter[:createdAtDayFilter]" placeholder="Поиск по номеру телефона.." type="text">
                        </td>
                        <td class="search_td">
                            <div class="search_controls">
                                <i onclick="submitFilters()" class="icon-filter3 text-primary"></i>
                                <i onclick="clearFilters()" class="icon-x text-danger"></i>
                            </div>
                        </td>
                    </tr>
                    {% for order in orders.data %}
                        <tr>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.orders.edit', {'id':order.id}) }}">{{ order.id }}</a>
                            </td>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.orders.edit', {'id':order.id}) }}">{{ order.user.phone }}</a>
                            </td>
                            <td>
                                <a href="{{ path_for('admin.ecommerce.orders.edit', {'id':order.id}) }}">{{ order.created_at|date('d-m-Y H:i') }}</a>
                            </td>
                            <td class="search_td"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ showPaginate(orders)|raw }}

{% endblock %}

{% block script %}
    <script>
        function toggleFilters() {
            let elements = document.querySelectorAll('.search_td');

            if (getComputedStyle(elements[0]).display !== 'none'){
                hideFilters(elements);
            } else {
                showFilters(elements);
            }
        }

        function hideFilters(elements) {
            Object.keys(elements).forEach(k=>{
                elements[k].style.display = 'none';
            })
        }

        function showFilters(elements) {
            Object.keys(elements).forEach(k=>{
                elements[k].style.display = 'table-cell';
            })
        }

        function submitFilters() {
            document.getElementById('filterForm').submit();
        }

        function clearFilters() {
            window.location.href = "{{ path_for('admin.ecommerce.orders.list') }}";
        }

        {% if filter|length > 0 %}
        toggleFilters();
        {% endif %}
    </script>
{% endblock %}