{% extends "admin/layout/layout.twig" %}

{% block title %}Сделки{% endblock %}

{% block page_title %}Сделки{% endblock %}

{% block icons %}
    <a href="{{ path_for('transaction.showAdminTransactionAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 ">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Описание</th>
                    <th>Сумма сделки</th>
                    <th>Клиент</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>
                            <a href="{{ path_for('transaction.showAdminTransactionEdit', {'id':transaction.id}) }}">{{ transaction.title }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('transaction.showAdminTransactionEdit', {'id':transaction.id}) }}">{{ transaction.description }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('transaction.showAdminTransactionEdit', {'id':transaction.id}) }}">{{ transaction.amount }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('transaction.showAdminTransactionEdit', {'id':transaction.id}) }}">{{ transaction.person.name }}</a>
                        </td>
                        <td>
                            <a href="{{ path_for('transaction.showAdminTransactionEdit', {'id':transaction.id}) }}">{{ transaction.date }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}