{% extends "admin/layout/layout.twig" %}

{% block title %}{% if transaction.id %}{{ transaction.title }}{% else %}Новая сделка{% endif %}{% endblock %}

{% block page_title %}{% if transaction.id %}Сделка "{{ transaction.title }}"{% else %}Новая сделка{% endif %}{% endblock %}

{% block icons %}
    {% if transaction.id %}
        <a href="{{ path_for('stage.showAdminStageList', {'id_transaction': transaction.id}) }}"
           class="btn btn-link btn-float text-default">
            <i class="icon-align-bottom text-primary" style="font-size: 1.4rem"></i>
            <span>Этапы сделки</span>
        </a>
    {% endif %}
    <a href="{{ path_for('transaction.showAdminTransactionList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список сделок</span>
    </a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <form method="post"
                    {% if transaction.id %}
                        action="{{ path_for('transaction.updateTransaction', {'id': transaction.id}) }}"
                    {% else %}
                        action="{{ path_for('transaction.createTransaction') }}"
                    {% endif %}
            >
                <div class="row">
                    <div class="col-md-12">

                        {% set types = {'1': 'Хостинг',
                                        '2': 'Разработка проекта',
                                        '3': 'Создание сайта Кайпромо',
                                        '4': 'Продвижение сайта'} %}

                        <label for="transaction-type">Тип сделки</label>
                        <select name="transaction[type]"
                                id="transaction-type"
                                class="form-control"
                                required
                                onchange="showAdditionalFields(event)"
                        >
                            {% for key, type in types %}
                            <option value="{{ key }}" {% if key == transaction.type %}selected{% endif %}>{{ type }}</option>
                            {% endfor %}
                        </select>

                        <input type="hidden" name="transaction[fields]" value="">

                        <div id="additional-field-domain" style="display: none;">
                            <label for="">Хостинг</label>
                            <select name="transaction[fields][domain]" class="form-control" required disabled>
                                <option value="0" disabled selected>Выберите хостинг из списка</option>
                                {% for domain in domains %}
                                    <option value="{{  domain.id }}"
                                        {% if transaction.fields.domain == domain.id %}
                                            selected
                                        {% endif %}
                                    >
                                        {{ domain.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <label for="title-textarea">Заголовок</label>
                        <textarea name="transaction[title]" id="title-textarea" class="form-control"
                                  required>{{ transaction.title }}</textarea>

                        <label for="description-textarea">Описание</label>
                        <textarea name="transaction[description]" id="description-textarea"
                                  class="form-control">{{ transaction.description }}</textarea>

                        <label for="date-input">Дата</label>
                        <input required id="date-input" name="transaction[date]" type="text" class="form-control"
                               value="{{ transaction.date }}">

                        <label for="amount-input">Сумма</label>
                        <input required id="amount-input" type="number" class="form-control" name="transaction[amount]"
                               value="{{ transaction.amount }}">

                        <label for="select-person_id">Клиент</label>
                        <select name="transaction[person_id]" id="select-person_id" class="form-control">
                            {% for person in persons %}
                                {% if person.id == transaction.person_id %}
                                    <option value="{{ person.id }}" selected>{{ person.name }}</option>
                                {% else %}
                                    <option value="{{ person.id }}">{{ person.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        {% if transaction.id %}
                            <a href="{{ path_for('documents.createBasicDocument', {'id_transactions': transaction.id}) }}"
                               class="btn btn-success">Сформировать документы</a>
                            <button type="button" onclick="removeTransaction()" class="btn btn-danger">Удалить</button>
                        {% endif %}
                    </div>
                </div>

            </form>

        </div>

        {% if transaction.id %}
            <div class="col-md-4 offset-1" id="transaction_files">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center" colspan="2">Документы сделки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="file,index in transaction.documents">
                        <td>
                            <a :href="file.path" download>${file.filename}</a>
                        </td>
                        <td>
                            <button @click="removeFile(file.id, index)" class="btn btn-sm btn-outline-danger">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label for="file_input" class="btn btn-xs btn-dark">Добавить документ</label>
                            <input id="file_input" @change="addFile()" type="file" style="display: none">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <label for="">Сумма счета</label>
                <div class="input-group">
                    <input type="number" v-model="payment" class="form-control">
                    <div class="input-group-append">
                        <button type="button" @click="getPayment" class="btn btn-primary input-group-text">Выставить счет</button>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#date-input').flatpickr({
            locale: "ru",
            altFormat: 'j F Y',
            altInput: true
        });

        function removeTransaction(){
            fetch('{{ path_for('transaction.deleteTransaction', {'id':transaction.id}) }}', {
                method: 'delete'
            }).then(window.location.href = '{{ path_for('transaction.showAdminTransactionList') }}');
        }

        {% if transaction.id %}
        var vm = new Vue({
            el: '#transaction_files',
            delimiters: ['${', '}'],
            data: {
                transaction: {{ transaction|json_encode|raw }},
                payment: ''
            },
            methods: {
                addFile(){
                    var file_data = $(event.target).prop('files')[0];
                    var form_data = new FormData();
                    form_data.append('document', file_data);

                    $.ajax({
                        url: '{{ path_for('documents.createDocument', {'id_transaction': transaction.id}) }}',
                        dataType: 'text',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: form_data,
                        type: 'post'
                    }).done(function (resp) {
                        resp = JSON.parse(resp);
                        if (resp !== false) {
                            vm.transaction.documents.push(resp);
                        }
                    });
                },
                removeFile(id, index){
                    var url = '/api/documents/'+id;
                    fetch(url, {
                        method: 'delete'
                    }).then(()=>{
                        vm.transaction.documents.splice(index,1)
                    });
                },
                getPayment(){
                    if (this.payment){
                        $.ajax({
                            url: '{{ path_for('documents.getPayment', {'id_transaction': transaction.id}) }}',
                            dataType: 'text',
                            data: {sum: this.payment},
                            type: 'post'
                        }).done((resp)=>{
                            resp = JSON.parse(resp);
                            this.transaction.documents.push(resp);
                            this.payment = '';
                        });
                    }
                }
            }
        });
        {% endif %}
    </script>

    <script>
        function showAdditionalFields() {
            let deal_type = document.getElementById('transaction-type').value;

            switch (deal_type) {
                case '1':
                    $('#additional-field-domain select').prop('disabled', false);
                    $('#additional-field-domain').show();
                    break;

                default:
                    $('#additional-field-domain select').prop('disabled', true);
                    $('#additional-field-domain').hide();

            }
        }

        showAdditionalFields();
    </script>
{% endblock %}