{% extends "admin/layout/layout.twig" %}

{% block title %}Тэг :: {{ tag.title }}{% endblock %}

{% block page_title %}Тэг: {{ tag.title }}{% endblock %}

{% block icons %}
    <a href="{{ path_for('admin.ecommerce.tags.list') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>все тэги</span>
    </a>
{% endblock %}

{% block links %}

{% endblock %}

{% block content %}

    <form method="post" action="{{ path_for('admin.ecommerce.tags.update', {'id': tag.id}) }}"
          enctype="multipart/form-data">
        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Название</label>
                            <div class="col-lg-9">
                                <input id="title-input" type="text" class="form-control" name="tag[title]"
                                       value="{{ tag.title }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="alias-input">Псевдоним</label>
                            <div class="col-lg-9">
                                <input id="alias-input" type="text" readonly name="tag[alias]" class="form-control" value="{{ tag.alias }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="meta_title_input">Мета тег title</label>
                            <div class="col-lg-9">
                                <input id="meta_title_input" maxlength="80" type="text" class="form-control"
                                       name="tag[meta_title]" value="{{ tag.meta_title }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="meta_description_input">Мета тег
                                description</label>
                            <div class="col-lg-9">
                                <input id="meta_description_input" maxlength="200" type="text" class="form-control"
                                       name="tag[meta_description]" value="{{ tag.meta_description }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="description-input">Описание</label>
                            <div class="col-lg-9">
                                <textarea id="description-input" type="text" name="tag[description]" class="form-control">{{ tag.description }}</textarea>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-start">
                                <button class="btn btn-outline-primary" type="submit">
                                    Сохранить <i class="icon-attachment ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block script %}

{% endblock %}