{% extends "admin/layout/layout.twig" %}

{% block links %}
    <link rel="stylesheet" href="{{ path_for('module.css', {'module_name':'Ecommerce', 'filename':'styles.css'}) }}">
{% endblock %}

{% block title %}Тэги{% endblock %}

{% block page_title %}Тэги{% endblock %}

{% block icons %}
    <a href="javascript:toggleFilters()" class="btn btn-link btn-float text-default">
        <i class="icon-search4 text-primary" style="font-size: 1.4rem"></i>
        <span>Поиск</span>
    </a>
{% endblock %}

{% block content %}
    <style>
        .search_td{
            margin: 0;
            padding: 2px!important;
            /*display: none;*/
        }

        .search_controls{
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 2em;
        }

        .search_controls > i{
            font-size: 1em;
            cursor: pointer;
        }
    </style>
    <form id="filterForm" action="{{ path_for('admin.ecommerce.tags.list') }}" method="get"></form>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th class="search_td"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="search_td">
                            <input form="filterForm" class="form-control" value="{{ filter['title:like'] }}" name="filter[title:like]" placeholder="Поиск по названию.." type="text">
                        </td>
                        <td class="search_td">
                            <div class="search_controls">
                                <i onclick="submitFilters()" class="icon-filter3 text-primary"></i>
                                <i onclick="clearFilters()" class="icon-x text-danger"></i>
                            </div>
                        </td>
                    </tr>
                    {% for tag in tags.data %}
                        <tr class="linkable">
                            <td>
                                <a href="{{ path_for('admin.ecommerce.tags.edit', {'id':tag.id}) }}">{{ tag.title }}</a>
                            </td>
                            <td class="search_td"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{#    {{ showPaginate(tags)|raw }}#}

{% endblock %}

{% block script %}
    <script>
        function toggleFilters() {
            let elements = document.querySelectorAll('.search_td');

            if (getComputedStyle(elements[0]).display !== 'none'){
                hideFilters(elements);
            } else {
                showFilters(elements);
            }
        }

        function hideFilters(elements) {
            Object.keys(elements).forEach(k=>{
                elements[k].style.display = 'none';
            })
        }

        function showFilters(elements) {
            Object.keys(elements).forEach(k=>{
                elements[k].style.display = 'table-cell';
            })
        }

        function submitFilters() {
            document.getElementById('filterForm').submit();
        }

        function clearFilters() {
            window.location.href = "{{ path_for('admin.ecommerce.tags.list') }}";
        }
    </script>
{% endblock %}