{% extends "admin/layout/layout.twig" %}

{% block title %}Аналитика{% endblock %}

{% block page_title %}Аналитика{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ path_for('module.css', {'module_name':'Аналитика', 'filename':'style.css'}) }}">

<div id="analytics-app">

	<div class="row">
		<div class="card">
			<div class="card-body col-12">
					<b>Домен</b>
					<form action="{{ path_for('analytic.save') }}" method="post" class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control ml-1 mr-3" name="title" value="{{analytic.title}}" required>
							{% if analytic %}
							<input type="hidden" name="id" value="{{analytic.id}}">
							{% endif %}
							<button class="btn btn-primary">Сохранить</button>
						</div>
					</form>

			</div>
		</div>

		{% if analytic %}
		<div class="card ml-3">
			<div class="card-body col-12">
				<b>Загрузить из файла</b>
					<form class="form-inline"
						  action="{{ path_for('analytic.parse') }}" 
						  method="post" 
						  enctype="multipart/form-data" 
						  @submit.prevent="parseFile($event)"
					>
						<div class="form-group">
							<input id="file-parse" type="file" name="file" class="form-control">
							<input type="hidden" name="analytic_id" value="{{ analytic.id }}">
							<button class="btn btn-primary ml-3" type="submit">Загрузить</button>
						</div>
					</form>
			</div>
		</div>

		<div class="card ml-3">
			<div class="card-body col-12">
				<b>Экспорт</b><br>
				<a href="{{path_for('analytic.export.csv', {'id': analytic.id})}}" class="btn btn-warning">CSV</a>
				<a href="{{path_for('analytic.export.xlsx', {'id': analytic.id})}}" class="btn btn-success">Excel</a>
			</div>
		</div>
		{% endif %}

	</div>

	{% if analytic %}

	<ul class="nav nav-tabs" id="analytic-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#ungrouped" role="tab" aria-controls="home" aria-selected="true"
			   @click="page = 'ungrouped'"
			>Не распределенные</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#blacklist" role="tab" aria-controls="profile" aria-selected="false"
			   @click="page = 'grouped'"
			>Распределенные</a>
		</li>
		<li class="nav-item" draggable="true" @drop="ignoreKeywords" @dragover.prevent>
			<a class="nav-link" data-toggle="tab" href="#blacklist" role="tab" aria-controls="contact" aria-selected="false"
			   @click="page = 'blacklist'"
			>Черный список</a>
		</li>
	</ul>

	<div class="row">
		<div class="col-7">
			<div class="card">
				<div class="card-body">

                    <div class="row">
                        <div class="input-group col-12 mt-3" v-if="page == 'ungrouped'">
                            {#
                            <input type="text" class="form-control" placeholder="Поиск" v-model="search" @input="searchKeywords($event)">
                        	#}
							<search :keywords="keywords" :index="0"></search>
                        </div>

						<div style="position: absolute; right: 15px; top: 15px">
							<b>Количество строк: ${getCount}</b>
						</div>

                    </div>


					<div>						
						<b>Выбрано строк: ${selectedKeywords}</b>
						<a v-if="page == 'ungrouped'" href="#" class="ml-3" @click="insertGroup">Сгруппировать по найденному</a>
						<a v-if="selectedKeywords && page == 'ungrouped'" href="#" class="ml-3" @click="groupSelected">Сгруппировать выбранное</a>
						<a v-if="selectedKeywords && (page == 'ungrouped' || page == 'grouped')"
						   href="#" class="ml-3" @click="ignoreSelected">В черный список</a>
						<a v-if="page == 'blacklist' && selectedKeywords"
						   href="#" class="ml-3" @click="restoreSelected">Восстановить выбранное</a>
					</div>

					<table class="table table-keywords">
						<thead>
							<tr>
								<th>
                                    <input type="checkbox" @click="selectAll($event)">
                                    <label for="">Выбрать все</label>
								</th>
								<th>Собранные ключевые слова</th>
								<th>Показов в месяц</th>
								<th></th>
							</tr>
						</thead>

                        <tbody v-show="page == 'ungrouped'" @drop="dropKeywords" @dragover.prevent>
                            <tr is="ungrouped-keywords"
                                v-for="kw in filtered_keywords"
                                v-if="!kw.analytic_group_id && !kw.ignore"
                                :kw="kw">

                            </tr>
                        </tbody>

						<tbody v-show="page == 'grouped'">
                            <tr is="grouped-keywords"
                                v-for="keyword in keywords"
                                v-if="keyword.analytic_group_id && !keyword.ignore"
                                :keyword="keyword"></tr>
						</tbody>

						<tbody v-show="page == 'blacklist'">
						    <tr is="blacklist"
                                v-for="keyword in keywords"
                                v-if="keyword.ignore"
                                :keyword="keyword"></tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

		<div class="col-5" v-if="page == 'ungrouped'">

			<div class="card">
				<div class="card-body">
					<b>Группы</b>
					<a href="#" @click="addGroup()">Добавить</a> 
					<groups-list :groups="groups" :keywords="keywords" :parent_id="0"></groups-list>
				</div>
			</div>
		</div>
	</div>
	
	{% endif %}

</div>

{% endblock %}

{% block script %}

{% if analytic %}

	<script>
		String.prototype.stripTags = function() {
			return this.replace(/<[^>]*>/g, '');
		}
	</script>

<script>
    class Keyword {
        constructor(keywords) {
            this.keywords = keywords;
        }

        select(select = true) {
        	this.keywords.map(kw => kw.selected = select);
        	return this;
		}

        group(group_id, callback = function(){}) {
            this.keywords.map(kw => kw.analytic_group_id = group_id);
            $.post('{{path_for('analytic.keyword.move', {'id': analytic.id})}}', {keywords: this.keywords}, callback());

            return this;
        }

        ignore(ignore = true, callback = function(){}) {
            ignore = ignore ? 'true' : 'false';

            this.keywords.map(kw => kw.ignore = ignore === 'true');
            $.post('{{ path_for('analytic.keyword.ignore', {'ignored': null}) }}' + ignore,
					{keywords: this.keywords},
					callback()
			);

            return this;
        }

        search(query) {
			 this.keywords = this.keywords.filter(kw =>
					 kw.words.stripTags().toLowerCase().indexOf(query.toLowerCase()) !== -1
			 );
			 return this;
		}

		mark(string, color = "#ffff00") {
			this.keywords.map(kw =>
					kw.words = kw.words.replace(string, '<span style="background-color:'+color+'; color: #ffffff">' + string + '</span>'));
			return this;
		}

        getKeywords() {
        	return this.keywords;
		}
    }

    class Group {
        constructor(group) {
            this.group = {
				title: 'new',
                parent_id: 0,
                analytic_id: {{ analytic.id }}
            };

			this.group = Object.assign(this.group, group);
        }

        setTitle(title) {
            this.group.title = title;
            return this;
        }

        setParentId(parent_id) {
            this.group.parent_id = parent_id;
            return this;
        }

        create(callback = function(){}) {
            $.post('{{path_for('analytic.group.create', {'id': analytic.id})}}',
					this.group,
					response => callback(JSON.parse(response)));
            return this;
        }

        update(callback = function(){}) {
            $.post('{{path_for('analytic.group.update')}}', this.group, callback());
            return this;
        }

        remove(callback = function(){}) {
            $.post('{{ path_for('analytic.group.remove') }}', this.group, response => {
            	callback(JSON.parse(response));
			});
			return this;
        }

        getGroup() {
        	return this.group;
		}
    }
</script>

<script	src="{{ path_for('module.js', {'module_name': 'Аналитика', 'filename': 'app.vue.js' }) }}"></script>
<script>
let analytics = new Vue({
	el: '#analytics-app',
  	delimiters: ['${', '}'],
  	data: {
  		keywords: {% if analytic.keywords %}
  					{{ analytic.keywords|json_encode()|raw }},
  				  {% else %}
  				  	[],
  				  {% endif %}

  		groups: {% if analytic.groups %}
  					{{ analytic.groups|json_encode()|raw }},
  				{% else %}
  					[],
  				{% endif %}
  		filtered_keywords: [],
  		drag_kw: null,
  		drag_group: null,
  		page: 'ungrouped'
  	},
  	methods: {
  		searchKeywords: function() { // need refactoring

  			if (this.search == null) {
  				this.filtered_keywords = this.keywords;
  				return false;
  			}

  			// Поиск по запросу
  			this.filtered_keywords = this.keywords.filter(
  				kw => kw.words.replace(/<[^>]*>/g, '').toLowerCase().indexOf(this.search.toLowerCase()) !== -1
						&& !kw.analytic_group_id
  			);

  			// Выделение найденных ключевых слов
  			this.filtered_keywords.map(kw => { // ToDo: нужно рефакторить

    			kw.words = kw.words.replace(/<[^>]*>/g, '');
  				let index = kw.words.toLowerCase().indexOf(this.search.toLowerCase());

  				if (index !== -1) {
  					let substr = kw.words.substr(index, this.search.length);
  					kw.words = kw.words.replace(substr, '<span class="bg-warning">' + substr + '</span>');
  				}
  			});
  		},

  		addGroup: function() {
  			var group = {
  				analytic_id: {{ analytic.id }},
  				title: 'Новая группа'
  			};

  			$.ajax({
  				url: '{{path_for('analytic.group.create', {'id': analytic.id})}}',
  				type: 'post',
  				data: group,
  				success: response => {
  					new_group = JSON.parse(response);

  					this.groups.push(new_group);
  				}
  			});
  		},

  		selectKeyword: function($event, kw) {
  			if ($event.shiftKey || $event.ctrlKey ) {
  				kw.selected = !kw.selected;
  			}
  		},

  		dragKeywordStart: function(keyword) {
			if (keyword.selected) {
				this.drag_kw = this.keywords.filter(kw => kw.selected && !kw.analytic_group_id);
			} else {
				this.drag_kw = [keyword];
			}
  		},

  		dropKeywords: function() {

  			if (this.drag_kw == null) return false;

  			this.drag_kw.map(kw => {
  				kw.analytic_group_id = 0;
				kw.selected = false;
			});

			$.ajax({
				url: '{{path_for('analytic.keyword.move', {'id': analytic.id})}}',
				data: {
					keywords: this.drag_kw
				},
				method: 'post',
				success: () => this.drag_kw = null
			});

  		},

  		dereact: function(object) {
  			return JSON.parse(JSON.stringify(object));
  		},

  		parseFile: function($event) {
  			var input = $("#file-parse");
  			var fd = new FormData;

  			fd.append('file', input.prop('files')[0]);
  			fd.append('analytic_id', {{analytic.id}});

  			$.ajax({
  				url: '{{ path_for('analytic.parse') }}',
  				method: 'post',
  				data: fd,
  				processData: false,
  				contentType: false,
  				success: response => {

  					if (response) this.keywords = JSON.parse(response);

  				}
  			});
  		},

        groupSelected: function() {
  		    let selected = this.filtered_keywords.filter(kw => kw.selected);

  		    new Group().setTitle(selected[0].words).create(group => {
  		        this.groups.push(group);
                selected = new Keyword(selected).select(false).group(group.id).getKeywords();
            });
        },

		ignoreSelected: function() {
			let selected = this.filtered_keywords.filter(kw => kw.selected);
			selected = new Keyword(selected).select(false).ignore().getKeywords();
		},

		restoreSelected: function() {
			let selected = this.filtered_keywords.filter(kw => kw.ignore && kw.selected);
			selected = new Keyword(selected).select(false).ignore(false).getKeywords();
		},

  		insertGroup: function() {

  			var group = {
  				analytic_id: {{ analytic.id }},
  				title: this.search
  			};

  			var moveKeywords = (keywords) => {
				$.ajax({
					url: '{{path_for('analytic.keyword.move', {'id': analytic.id})}}',
					data: {
						keywords: keywords
					},
					method: 'post',
					success: () => this.filtered_keywords = this.keywords
				});
			};

  			$.ajax({
  				url: '{{path_for('analytic.group.create', {'id': analytic.id})}}',
  				type: 'post',
  				data: group,
  				success: response => {
  					let new_group = JSON.parse(response);

					this.search = null;
  					this.groups.push(new_group);
  					this.filtered_keywords.map(kw => {
  						kw.analytic_group_id = new_group.id;
  					});

  					// Убираем выделение найденного, потому-что реактивность
  					this.keywords.map(kw => kw.words = kw.words.replace(/<[^>]*>/g, ''));

					// Это Ajax в Ajax, что-бы мы могли отправлять запросы пока отправляем запросы
  					moveKeywords(this.filtered_keywords);
  				}
  			});
  		},

  		ignoreKeywords: function() {
  			if (!this.drag_kw) return false;
  			this.drag_kw = new Keyword([this.drag_kw]).ignore().getKeywords();
  		},

  		selectAll: function($event) {

  		    let selected = $event.target.checked;

			switch(this.page) {
				case 'ungrouped':
					this.filtered_keywords = new Keyword(this.filtered_keywords).select(selected).getKeywords();
					break;
				case 'grouped':
					let grouped = this.keywords.filter(kw => !kw.ignore && kw.analytic_group_id);
					grouped = new Keyword(grouped).select(selected).getKeywords();
					break;
				case 'blacklist':
					let ignored = this.keywords.filter(kw => kw.ignore);
					ignored = new Keyword(ignored).select(selected).getKeywords();
					break;
				default:
					break;
			}
  		},
  	},

  	computed: {
  		selectedKeywords: function() {
  			return this.filtered_keywords.filter(kw => {
				switch(this.page) {
					case 'ungrouped':
						return !kw.ignore && !kw.analytic_group_id && kw.selected;
					case 'grouped':
						return !kw.ignore && kw.analytic_group_id && kw.selected;
					case 'blacklist':
						return kw.ignore && kw.selected;
					default:
						return false;
				}
			}).length;
  		},
		getCount: function() {
			return this.filtered_keywords.filter(kw => {
				switch(this.page) {
					case 'ungrouped':
						return !kw.ignore && !kw.analytic_group_id;
					case 'grouped':
						return !kw.ignore && kw.analytic_group_id;
					case 'blacklist':
						return kw.ignore;
					default:
						return false;
				}
			}).length;
		}
  	},

  	mounted: function() {
  		this.filtered_keywords = this.keywords;
  	},

  	watch: {
  		keywords: function() {
  			this.filtered_keywords = this.keywords;
  		}
  	}
});
</script>

{% endif %}

{% endblock %}