{% extends "admin/layout/layout.twig" %}

{% block title %}Аналитика{% endblock %}

{% block page_title %}Аналитика{% endblock %}

{% block icons %}
    <a href="{{ path_for('analytic.new') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить аналитику</span>
    </a>
{% endblock %}

{% block content %}

<div class="row card">
	<div class="col-7 card-body">
		
		<table class="table">
			<thead>
				<tr>
					<th>Домен</th>
					<th>Кол-во ключевых слов</th>
					<th>Дата создания</th>
				</tr>
			</thead>

			<tbody>
				{% for analytic in analytics %}
				<tr>
					<td><a href="{{path_for('analytic.show', {'id': analytic.id})}}">{{ analytic.title }}</a></td>
					<td>{{ analytic.keywords_count }}</td>
					<td>{{ analytic.created_at }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>


{% endblock %}

{% block script %}

{% endblock %}