{% extends "admin/layout/layout_new.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">

                <!-- Header -->
                <div class="header mt-md-5">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Pretitle -->
                                <h6 class="header-pretitle">
                                    {% block page_overview %}{% endblock %}
                                </h6>

                                <!-- Title -->
                                <h1 class="header-title">
                                    {% block page_title %}{% endblock %}
                                </h1>

                            </div>
                            <div class="col-auto">

                                {% block buttons %}{% endblock %}

                            </div>
                        </div> <!-- / .row -->

{#                        <div class="row align-items-center">#}
{#                            <div class="col">#}

{#                                <!-- Nav -->#}
{#                                <ul class="nav nav-tabs nav-overflow header-tabs">#}
{#                                    <li class="nav-item">#}
{#                                        <a href="orders.html#!" class="nav-link active">#}
{#                                            All <span class="badge badge-pill badge-soft-secondary">823</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="orders.html#!" class="nav-link">#}
{#                                            Pending <span class="badge badge-pill badge-soft-secondary">24</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="orders.html#!" class="nav-link">#}
{#                                            Processing <span class="badge badge-pill badge-soft-secondary">3</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                    <li class="nav-item">#}
{#                                        <a href="orders.html#!" class="nav-link">#}
{#                                            Refunded <span class="badge badge-pill badge-soft-secondary">71</span>#}
{#                                        </a>#}
{#                                    </li>#}
{#                                </ul>#}

{#                            </div>#}
{#                        </div>#}

                    </div>
                </div>

                <!-- Card -->
                <div class="card" data-toggle="lists" data-options='{"valueNames": ["orders-order", "orders-product", "orders-date", "orders-total", "orders-status", "orders-method"]}'>
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Search -->
                                <form class="row align-items-center">
                                    <div class="col-auto pr-0">
                                        <span class="fe fe-search text-muted"></span>
                                    </div>
                                    <div class="col">
                                        <input type="search" class="form-control form-control-flush search" placeholder="Search">
                                    </div>
                                </form>

                            </div>
                            <div class="col-auto">

                                <!-- Button -->

                                <div class="dropdown">
                                    <button class="btn btn-sm btn-white dropdown-toggle" type="button" id="bulkActionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bulk action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bulkActionDropdown">
                                        <a class="dropdown-item" href="orders.html#!">Action</a>
                                        <a class="dropdown-item" href="orders.html#!">Another action</a>
                                        <a class="dropdown-item" href="orders.html#!">Something else here</a>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-nowrap card-table">
                            <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox table-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectAll">
                                        <label class="custom-control-label" for="ordersSelectAll">
                                            &nbsp;
                                        </label>
                                    </div>
                                </th>

                                {% for field in fields%}
                                    <th>
                                        <a href="/" class="text-muted sort" data-sort="table-{{ field.slug }}">
                                            {{ field.title}}
                                        </a>
                                    </th>
                                {% endfor %}

                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for item in items %}
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox table-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="ordersSelect" id="ordersSelectOne">
                                            <label class="custom-control-label" for="ordersSelectOne">
                                                &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                    {% for field in fields %}
                                        <td class="table-{{field.slug}}">
                                            {% if field.filters %}
                                                {{ item[field.slug]|customFilter(field.filters) }}
                                            {% else %}
                                                {{ item[field.slug] }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}

                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                {% for action in actions %}
                                                    {% set params = [] %}
                                                    {% for key, value in action.params %}
                                                        {% set params = params|merge({(key):(item[value])}) %}
                                                    {% endfor %}
                                                <a href="{{ path_for(action.path_for, params) }}" class="dropdown-item">
                                                    {{ action.title}}
                                                </a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div> <!-- / .row -->
    </div>
{% endblock %}