<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    {#    <link rel="stylesheet" href="css/styles.css?v=1.0">#}
</head>
<body>

<style>
    body {
        margin: 0;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .col {
        min-height: 100px;
        border-left: 1px solid gray;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="row" id="p">

    <div class="col" style="width: 50%;">
        <h2 style="text-align: center">Корзина</h2>

        <table class="row">
            <tr>
                <td>Название</td>
                <td>Цена</td>
                <td>На складе</td>
                <td>Кол-во</td>
                <td></td>
            </tr>
            <tr v-for="item in products">
                <td>${ item.product.title }</td>
                <td>${ item.product.price }</td>
                <td>${ item.product.amount }</td>
                <td>
                    <span @click="subCartCount(item.id)">-</span>
                    <span :id="'cart_count_'+item.id">${ item.count }</span>
                    <span @click="addCartCount(item.id)">+</span>
                </td>
                <td>
                    <button @click="remove(item.id)">Удалить</button>
                </td>
            </tr>
        </table>
        <br>
        <input placeholder="Номер телефона" type="text" v-model="phone">
        <button type="button" @click="createOrder()">Создать заказ</button>
    </div>

    <div class="col" style="width: 50%;">
        <h2 style="text-align: center">Товары</h2>

        <table class="row">
            <tr>
                <td>Название</td>
                <td>Цена</td>
                <td>На складе</td>
                <td>Кол-во</td>
                <td></td>
            </tr>
            <tr v-for="product in products_all">
                <td>${ product.title }</td>
                <td>${ product.price }</td>
                <td>${ product.amount }</td>
                <td>
                    <span @click="subCount(product.id)">-</span>
                    <span :id="'count_'+product.id">1</span>
                    <span @click="addCount(product.id)">+</span>
                </td>
                <td>
                    <button v-if="!cart.contains(product.id)" @click="add(product)">В корзину</button>
                    <button v-else="" disabled>В корзинe</button>
                </td>
            </tr>
        </table>

    </div>
</div>

<script src="{{ path_for('module.js', {'module_name':'Ecommerce', 'filename':'cart.js'}) }}"></script>
<script src="/assets/admin/libs/vue/vue.min.js"></script>
<script>
    var p = new Vue({
        el: '#p',
        delimiters: ['${', '}'],
        data: {
            products_all: {{ products|json_encode|raw }},
            products: [],
            cart: null,
            phone: ''
        },
        methods: {
            // Добавление товара в корзину
            add(product) {
                let count = document.getElementById('count_' + product.id).innerText;
                if (this.cart.add(product, count)) {
                    this.products = this.cart.getProducts();
                }
            },
            // Удаление товара из корзины
            remove(id) {
                if (this.cart.remove(id)) {
                    this.products = this.cart.getProducts();
                }
            },
            // Изменение кол-ва в списке товаров
            addCount(id) {
                let el = document.getElementById('count_' + id);
                el.innerText++;
            },
            // Изменение кол-ва в списке товаров
            subCount(id) {
                let el = document.getElementById('count_' + id);
                el.innerText--;
            },
            // Изменение кол-ва в корзине
            addCartCount(id){
                this.cart.setCount(id, 1);
                this.products = this.cart.getProducts();
            },
            // Изменение кол-ва в корзине
            subCartCount(id){
                this.cart.setCount(id, -1);
                this.products = this.cart.getProducts();
            },
            createOrder(){
                if (this.phone.length > 0 ){
                    document.location.href = '{{ path_for('public.ecommerce.order.create') }}?phone='+this.phone;
                } else {
                    alert('введите номер телефона')
                }

            }
        },
        beforeMount() {
            this.cart = new Cart({
                useCookie: true,
                amountField: 'amount',
                onAdd: function (product) {
                    console.log('Добавлен товар #' + product.id);
                },
                onRemove: function (product) {
                    console.log('Удален товар #' + product.id);
                },
                onChangeCount: function (product, count) {
                    console.log('Изменено кол-во товара #'+product.id)
                }
            });
            this.products = this.cart.getProducts();
        }
    });

</script>

</body>
</html>