{% extends "admin/layout/layout.twig" %}

{% block title %}{% if company.id %}{{ company.name }}{% else %}Новая компания{% endif %}{% endblock %}

{% block page_title %}{% if company.id %}{{ company.name }}{% else %}Новая компания{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('company.showAdminCompanyList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список компаний</span>
    </a>
{% endblock %}

{% block content %}

    <form id="company_form" method="post"
            {% if company.id %}
                action="{{ path_for('company.updateCompany', {'id': company.id}) }}"
            {% else %}
                action="{{ path_for('company.createCompany') }}"
            {% endif %}
            enctype="multipart/form-data"
    >
        <div class="row">
            <div class="col-md-5">

                <label for="name-input">Название компании</label>
                <input id="name-input" name="company[name]" v-model="company.name" type="text" class="form-control">

                <label for="title-input" class="mt-1">Название без формы занятости (ИП, ООО) для шапки
                    документов</label>
                <textarea id="title-input" name="company[title]" v-model="company.title" type="text" class="form-control"></textarea>

                <label for="">Представитель в Род. падеже <br>Например: Евгеньева Евгения Евгеньевича</label>
                <input type="text" class="form-control" name="company[representative_header]" v-model="company.representative_header">

                <label for="">Представитель в Им. падеже<br>Например: Евгеньев Е. Е.</label>
                <input type="text" class="form-control" name="company[representative_footer]" v-model="company.representative_footer">

                <label for="type_client">Форма занятости</label>
                <select class="form-control" name="company[type]" id="type_client">
                    <option value="0" {% if company.type == 0 %} selected {% endif %}>ООО</option>
                    <option value="1" {% if company.type == 1 %} selected {% endif %}>ИП</option>
                    <option value="2" {% if company.type == 2 %} selected {% endif %}>Частное образовательное учреждение Дополнительного профессионального образования
                    </option>
                </select>

                <label for="tags-select">Тэги</label>
                <select name="tags[]" id="tags-select" type="text" class="form-control" multiple>
                    <option :value="tag.id" v-for="tag in tags" :selected="tagSelected(tag)">${tag.title}</option>
                </select>
            </div>
            <div class="col-md-5">
                <label for="logo-input">Логотип</label>

                <img :src="logo" alt="" style="width: 100%;">

                <input id="logo-input" @change="changeLogo" type="file" name="file">

            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                {% if company.id %}
                    <button type="button" @click="removeCompany()" class="btn btn-danger">Удалить</button>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script type="text/javascript">

        var vm = new Vue({
            el: "#company_form",
            delimiters: ['${', '}'],
            data: {
                company: {% if company.id %}{{ company|json_encode|raw }}{% else %}{tags: []}{% endif %},
                tags: {{ tags|raw }},
                logo: null
            },
            methods: {
                setSelectPicker() {
                    $('#tags-select').selectpicker('destroy').selectpicker({
                        liveSearch: true,
                        liveSearchNormalize: true,
                        liveSearchPlaceholder: 'Поиск',
                        noneSelectedText: 'Выберите тэг',
                        noneResultsText: "<p style='cursor:pointer' onclick='vm.createTag()'>Создать тэг {0}</p>"
                    });
                },
                createTag() {
                    let text = $(event.target).text();
                    text = text.replace('Создать тэг ', '');
                    text = text.replace(/"/g, '');

                    $.ajax({
                        url: "/api/tags",
                        type: "POST",
                        data: {title: text}
                    }).done((resp) => {
                        vm.tags.push({id: resp, title: text});
                        vm.setSelectPicker();
                    });
                },
                tagSelected(tag) {
                    var selected = false;
                    this.company.tags.forEach(function (_tag) {
                        if (tag.id === _tag.id) {
                            selected = true;
                        }
                    });
                    return selected;
                },
                removeCompany(){
                    fetch('{{ path_for('company.deleteCompany', {'id':company.id}) }}', {
                        method: 'delete'
                    }).then(window.location.href = '{{ path_for('company.showAdminCompanyList') }}');
                },
                changeLogo(){
                    var files = event.target.files;
                    if (files[0]){
                        var fr = new FileReader();

                        fr.onload = (e)=>{
                            vm.logo = e.target.result;
                        };

                        fr.readAsDataURL(files[0]);
                    }
                }
            },
            updated() {
                this.setSelectPicker()
            },
            mounted() {
                if (this.company.logo){
                    this.logo = this.company.logo.path;
                }
                this.setSelectPicker()
            }
        });
    </script>
{% endblock %}