{% extends "admin/layout/layout.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <h1 class="inline project-name">Компания</h1>
                    <div class="inline"> <a href="{{ path_for('company.showAdminCompanyList') }}">все компании</a> </div>
                    <div class="inline"> <a href="{{ path_for('company.showAdminCompanyEdit', {id: company.id}) }}">{{ company.name }}</a> </div>
                    <hr class="aky">
                </div>
            </div>
            <form
                    method="post"
                    name="login_form"
                    action="{{ path_for('company.updateCompany', {'id': company.id}) }}"
            >
                <div class="row">

                    <div class="col-md-12">

                        <div class="form col-md-12" style="display: flex; justify-content: center;">

                            <div class="col-md-7">
                                {% if company.type == 0 %}
                                <section class="type_client_0 client">
                                    <div class="row">
                                        <label for="address">Адрес</label>
                                        <input type="text"  name="company[requisites][address]" id="address" value="{% if company.type == 0 %}{{  company.requisites.address }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="doc">На основании чего действует в Род. Падеже (устава)</label>
                                        <input type="text" name="company[requisites][doc]" id="doc" value="{% if company.type == 0 %}{{  company.requisites.doc }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="ogrn">ОГРН</label>
                                        <input type="text" name="company[requisites][ogrn]" id="ogrn" value="{% if company.type == 0 %}{{  company.requisites.ogrn }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="inn">ИНН</label>
                                        <input type="text" name="company[requisites][inn]" id="inn" value="{% if company.type == 0 %}{{  company.requisites.inn }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="kpp">КПП</label>
                                        <input type="text" name="company[requisites][kpp]" id="kpp" value="{% if company.type == 0 %}{{  company.requisites.kpp }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="rs">Расчетный счет</label>
                                        <input type="text" name="company[requisites][rs]" id="rs" value="{% if company.type == 0 %}{{  company.requisites.rs }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="bank">Банк</label>
                                        <input type="text" name="company[requisites][bank]" id="bank" value="{% if company.type == 0 %}{{  company.requisites.bank }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="ks">К/С</label>
                                        <input type="text" name="company[requisites][ks]" id="ks" value="{% if company.type == 0 %}{{  company.requisites.ks }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="bik">БИК</label>
                                        <input type="text" name="company[requisites][bik]" id="bik" value="{% if company.type == 0 %}{{  company.requisites.bik }}{% endif %}">
                                    </div>
                                </section>
                                {% elseif company.type == 1 %}
                                <section class="type_client_1 client">
                                    <div class="row">
                                        <label for="address">Адрес</label>
                                        <input type="text" name="company[requisites][address]" id="address" value="{% if company.type == 1 %}{{  company.requisites.address }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="ogrn">ОГРН</label>
                                        <input type="text" name="company[requisites][ogrn]" id="ogrn" value="{% if company.type == 1 %}{{  company.requisites.ogrn }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="inn">ИНН</label>
                                        <input type="text" name="company[requisites][inn]" id="inn" value="{% if company.type == 1 %}{{  company.requisites.inn }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="rs">Расчетный счет</label>
                                        <input type="text" name="company[requisites][rs]" id="rs" value="{% if company.type == 1 %}{{  company.requisites.rs }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="bank">Банк</label>
                                        <input type="text" name="company[requisites][bank]" id="bank" value="{% if company.type == 1 %}{{  company.requisites.bank }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="ks">К/С</label>
                                        <input type="text" name="company[requisites][ks]" id="ks" value="{% if company.type == 1 %}{{  company.requisites.ks }}{% endif %}">
                                    </div>
                                    <div class="row">
                                        <label for="bik">БИК</label>
                                        <input type="text" name="company[requisites][bik]" id="bik" value="{% if company.type == 1 %}{{  company.requisites.bik }}{% endif %}">
                                    </div>
                                </section>
                                {% else %}
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row" style="margin-top: 15px; display: flex; justify-content: center;">
                    <div class="col-md-4">
                        <button class="blue-button inline" type="submit">Сохранить</button>
                    </div>
                </div>

            </form>

            <form id="frm-del-user" action="{{ path_for('company.deleteCompany', {'id': company.id}) }}" method="get">
            </form>

        </div>
    </div>
    <style>
        .non-hover:hover {
            text-decoration: none;
            color: white;
        }
    </style>
{% endblock %}

{% block script %}

    <script type="text/javascript">

        $(function() {
            $('#delete-user').click(function() {
                if (confirm('Удалить?')) {
                    $('#frm-del-user').submit();
                }
            });
        });

        $(function() {
            var getFlatpickr = function() {
                return $('.flatpickr').flatpickr({
                    locale: "ru",
                    altFormat: 'j F Y',
                    altInput: true
                });
            }

            var flatpickr = getFlatpickr();

            $('#mcm').on('shown.bs.modal', function () {
                var date = $('.flatpickr').val();
                flatpickr.destroy();
                flatpickr = getFlatpickr();
                flatpickr.setDate(date);
            });
        });
    </script>
{% endblock %}