{% extends "admin/layout/layout.twig" %}

{% block title %}Компании{% endblock %}

{% block page_title %}Компании{% endblock %}

{% block icons %}
    <a href="{{ path_for('company.showAdminCompanyAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>
{% endblock %}
{% block content %}

    <style>
        td a:hover, td a:visited, td a:link, td a:active {
            width: 100%;
            color: inherit;
            text-decoration: none;
            display: block;
        }
    </style>


    <form action="">
        <div class="row">
            <div class="col-md-4">
                <form action="#">
                    <div class="input-group">
                        <input name="filter[:search]" class="form-control" value="{{ filter[':search'] }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-dark input-group-text">Поиск</button>
                            <a href="{{ path_for('company.showAdminCompanyList') }}" class="btn btn-danger input-group-text">Сбросить</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>


    <div class="row">
        <table class="table ">
            <thead>
            <tr>
                <th>Логотип</th>
                <th>Название компании</th>
                <th>Полное название</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies.data  %}
                <tr>
                    <td class="p-0">
                        <a href="{{ path_for('company.showAdminCompanyEdit', {'id': company.id}) }}">
                            <img src="{{ company.logo.path }}" style="max-height: 40px; width: auto;">
                        </a>
                    </td>
                    <td>
                        <a href="{{ path_for('company.showAdminCompanyEdit', {'id': company.id}) }}">{{ company.name }}</a>
                    </td>
                    <td>
                        <a href="{{ path_for('company.showAdminCompanyEdit', {'id': company.id}) }}">{{ company.title }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}