        .table-keywords .kw-options i {
            color: #848484;
        }

		input.search {
			max-width: 250px;
			position: absolute;
		}

        .table-keywords .kw-options:hover i {
            cursor: pointer;
            color: #606060;
        }

        .table {
			overflow-y: auto;
			max-height: 500px;
			display: block;
		}

		.table th {
			position: sticky;
			background-color: #ffffff;
			top: 0;
			font-weight: bold;
		}

        .table th,
        .table td {
            padding: 5px;
            padding-right: 15px;
        }

		.keyword-groups {
			padding: 5px;
            border: dashed 3px #ffffff;
		}

		.keyword-groups .keyword-groups  {
			padding-left: 15px;
		}

		.keyword-groups .group-icons i {
			font-size: 1.5rem;
		}

		.keyword-groups .group-icons i:hover {
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
		}

		.keyword-groups li {
			list-style: none;
    		box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0s ease 0.025s;
            -moz-transition: all 0s ease 0.025s;
            -ms-transition: all 0s ease 0.025s;
            -o-transition: all 0s ease 0.025s;
            transition: all 0s ease 0.025s;
		}

		.keyword-groups li .group {
			background-color: #f5f5f5;
    		border-radius: 3px;
    		margin: 5px 0;
    		padding: 0 15px;
    		display: flex;
    		justify-content: space-between;
    		line-height: 2rem;
		}

		.keyword-groups li .group .col {
			padding: 0;
		}

		.keyword-groups li .group a {
			color: #000000;
		}

		.keyword-groups li .group [contenteditable="true"] {
			width: 100%;
			background-color: #ffffff;
			border-radius: 3px;
		}

		.keyword-groups li .group .expand {
			cursor: pointer;
		}

		.table-compact {
			padding-left: 15px;
		}

		.table-compact td,
		.table-compact th {
			padding: 3px 15px 3px 0;
		}

        .options-modal {
            position: absolute;
            left: 100%;
        }

        .options-modal ul {
            padding-left: 0;
        }