{% extends "admin/layout/layout.twig" %}

{% block title %}{% if category.id %}Категория :: {{ category.title }}{% else %}Новая категория{% endif %}{% endblock %}

{% block page_title %}{% if category.id %}Категория :: {{ category.title }}{% else %}Новая категория{% endif %}{% endblock %}

{% block icons %}
    <a href="{{ path_for('admin.ecommerce.categories.list') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>все категории</span>
    </a>
{% endblock %}

{% block links %}

{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data"
            {% if category.id %}
                action="{{ path_for('admin.ecommerce.categories.update', {'id': category.id}) }}"
            {% else %}
                action="{{ path_for('admin.ecommerce.categories.create') }}"
            {% endif %}>

        <div class="row">

            <div class="col-md-12">

                <div class="card">

                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="title-input">Название</label>
                            <div class="col-lg-9">
                                <input id="title-input" type="text" class="form-control" name="category[title]" value="{{ category.title }}">
                            </div>
                        </div>

                        {% if category.id %}
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="alias-input">Псевдоним</label>
                            <div class="col-lg-9">
                                <input id="alias-input" type="text" readonly name="category[alias]" class="form-control" value="{{ category.alias }}">
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="description-input">Описание</label>
                            <div class="col-lg-9">
                                <textarea id="description-input" type="text" name="category[description]" class="form-control">{{ category.description }}</textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="meta_title_input">Мета тег title</label>
                            <div class="col-lg-9">
                                <input id="meta_title_input" maxlength="80" type="text" class="form-control" name="category[meta_title]" value="{{ category.meta_title }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3" for="meta_description_input">Мета тег description</label>
                            <div class="col-lg-9">
                                <textarea id="meta_description_input" maxlength="200" type="text" name="category[meta_description]" class="form-control">{{ category.meta_description }}</textarea>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-start">
                                <button class="btn btn-outline-primary" type="submit">
                                    Сохранить <i class="icon-attachment ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block script %}

{% endblock %}