{% extends "admin/layout/pages/table_page.twig" %}

{% block title %}Список пользователей{% endblock %}

{% block page_overview %}Пользователи{% endblock %}

{% block page_title %}Список пользователей{% endblock %}

{% block buttons %}
    <a href="{{ path_for('user.showAdminUserAdd') }}" class="btn btn-primary lift">
        Новый пользователь
    </a>
{% endblock %}

{% set items = users %}

{% set fields = [
    {
        title: 'ИД',
        slug: 'id',
        filter: ''
    },
    {
        title: 'e-mail',
        slug: 'email'
    },
    {
        title: 'Имя',
        slug: 'first_name'
    },
    {
        title: 'Фамилия',
        slug: 'last_name'
    },
    {
        title: 'Роль',
        slug: 'role',
        filters: [
        {
            name: 'first'
        },
        {
            name: 'property',
            args: ['name']
        }
    ]
    },
    {
        title: 'Дата создания',
        slug: 'created_at',
        filters:[
        {
            name: 'date',
            args: 'd-m-Y'
        }
    ]
    }
] %}

{% set actions = [
    {
        title: 'Изменить',
        path_for: 'user.showAdminUserEdit',
        params : {id: 'id'}
    }
] %}