{% extends "admin/layout/layout.twig" %}

{% block title %}Роли{% endblock %}

{% block page_title %}Роли{% endblock %}

{% block icons %}

{% endblock %}

{% block content %}

    {% set users = {'Просмотр': 'user_view', 'Создание':'user_create', 'Обновление': 'user_update', 'Удаление': 'user_delete'} %}
    {% set nav = {'Просмотр': 'navigation_view', 'Создание':'navigation_create', 'Обновление': 'navigation_update', 'Удаление': 'navigation_delete'} %}
    {% set mods = {'Просмотр': 'modules_view', 'Создание':'modules_create', 'Обновление': 'modules_update', 'Удаление': 'modules_delete'} %}
    {% set rol = {'Просмотр/Изменение': 'roles_view'} %}
    {#POINTER#}
    {#_ROLES_#}
    {% set per = {'Навигация': nav, 'Модули': mods, 'Пользователи': users, 'Роли': rol} %}
    {#_ROLES_#}

    <style type="text/css">
        ul li {
            list-style: none;
        }

        ul {
            padding-left: 20px;
            padding-bottom: 7px;
        }

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
        }

        tr.role-row {
            cursor: pointer;
        }

    </style>

    <div class="row">
        <div class="col-md-3">
             <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-role">
                        <thead>
                        <th style="padding-bottom: 3px;">Роль
                            <button id="add-role" class="btn btn-success btn-sm" style="float: right; margin-top: -7px;"> +
                                добавить
                            </button>
                        </th>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr data-role-id="{{ role.id }}" class="role-row">
                                <td><a class="role-href">{{ role.name }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8">
             <div class="card">
                <div class="card-body">
                <form id="form-role" action="/api/roles/create" method="post">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="role_name">Название</label>
                            <input id="role_name" type="text" class="form-control" name="name" placeholder="Название роли"
                                   required>
                        </div>

                        <div class="col-md-3">
                            <label for="slug">Псевдоним (англ.)</label>
                            <input id="slug" type="text" class="form-control" name="slug" placeholder="Псевдоним роли"
                                   required>
                        </div>

                        <div class="col-md-3 mt-3">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>

                        <input type="hidden" name="id">
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h3>Права доступа</h3>

                            {% for scope, ps in per %}
                                <b>{{ scope }}</b>

                                <select name="permissions[]" type="text" class="form-control mb-2" multiple>
                                    {% for title, p in ps %}
                                        <option value="{{ p }}">{{ title }}</option>
                                    {% endfor %}
                                </select>
                            {% endfor %}

                            {% for module, permission in permissions %}
                                <b>{{ module }}</b>

                                <select name="permissions[]" type="text" class="form-control mb-2" multiple>
                                    {% for p, title in permission %}
                                        <option value="{{ p }}">{{ title }}</option>
                                    {% endfor %}
                                </select>
                            {% endfor %}
                        </div>
                    </div>

                </form>
                </div>
             </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).on('click', '.role-row', function () {

            $('tr[data-role="new"]').remove();
            $('tr.role-row.table-primary').removeClass('table-primary');
            $(this).addClass('table-primary');

            var id = $(this).data('role-id');

            $.ajax({
                url: '/api/roles/get_role',
                type: 'POST',
                data: {id: id},
                success: function (resp) {
                    var role = JSON.parse(resp);
                    var permissions = JSON.parse(role.permissions);

                    $('#form-role').find('button[type="submit"]').html('Сохранить');
                    $('input[name="name"]').val(role.name);
                    $('input[name="slug"]').val(role.slug);
                    $('input[name="id"]').val(role.id);

                    permissions = permissions ? Object.keys(permissions) : [];

                    $('select[name="permissions[]"]').val(permissions);
                    $('select.form-control').selectpicker('refresh');
                },
                error: function (resp) {
                    console.log(resp.responseText);
                }
            })
        });

        $(function () {
            $('#add-role').click(function () {

                $('tr.role-row.table-primary').removeClass('table-primary');
                $('tr[data-role="new"]').remove();

                $('#form-role')[0].reset();
                $('select.form-control').selectpicker('refresh');

                $('#role_name').val('Новая роль');
                $('#role_name').focus();

                $('#form-role').find('button[type="submit"]').html('Добавить');
                $('#form-role').find('input[name="id"]').val(null);

                let table = $('.table-role tbody');
                let tr = '<tr data-role="new" class="table-primary">\n' +
                            '<td><a class="role-href">Новая роль</a></td>\n' +
                         '</tr>';

                table.append(tr);
            });
        });
    </script>

    <script>
        $(function () {
            $('select.form-control').selectpicker({
                noneSelectedText: 'Ничего не выбрано'
            });
        });
    </script>
    {#<script src="/public/assets/admin/admin.js"></script>#}
{% endblock %}