{% extends "admin/layout/layout.twig" %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block page_title %}{% if user.id %}{% else %}Новый пользователь{% endif %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block icons %}
    <a href="{{ path_for('user.showAdminUserList') }}" class="btn btn-link btn-float text-default">
        <i class="icon-list-numbered text-primary" style="font-size: 1.4rem"></i>
        <span>Список пользователей</span>
    </a>
{% endblock %}

{% block content %}
    <style>
        .image-input{
            position: absolute;
            width: 100%;
            height: 242px;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    </style>
    <form method="post"
          enctype='multipart/form-data'
            {% if user.id %}
                action="/api/users/{{ user.id }}"
            {% else %}
                action="/api/users"
            {% endif %}
    >
        <div class="row">

            <div class="col-md-8">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <label>Email </label>
                                <input type="text" class="form-control" name="email" placeholder="Email" value="{{ user.email }}" required>
                            </div>

                            <div class="col-md-6">
                                <label>Пароль </label>
                                <input type="text" class="form-control" data-table="drivers" name="password" placeholder="Укажите новый пароль если нужно" {% if not user.id %} required {% endif %}>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Имя </label>
                                <input type="text" class="form-control" name="first_name" placeholder="Имя" value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6">
                                <label>Фамилия</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Фамилия" value="{{ user.last_name }}">
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label>Роль</label>
                                <select name="role" class="form-control">
                                    {% for role in roles %}
                                        {% if role.id == user.role.id %}
                                            <option value="{{ role.slug }}" selected>{{ role.name }}</option>
                                        {% else %}
                                            <option value="{{ role.slug }}">{{ role.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-outline-primary" type="submit">
                                    Сохранить <i class="icon-attachment ml-2"></i>
                                </button>

                            </div>
                            <div class="col-md-4">
                                {% if user.id and user.id != session.user.id %}
                                    <button id="delete-user" class="btn btn-outline-danger" type="button">
                                        Удалить пользователя <i class="icon-bin2 ml-2"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <img class="card-img-top" src="{% if user.photo is not null %}{{ user.photo.path }}{% else %}/assets/admin/imgs/no_avatar.jpg{% endif %}" alt="Card image cap">
                            <input type="file" name="photo" class="image-input">
                        </div>
                        <button type="button" id="removeAvatar" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <form id="frm-del-user" action="/api/users/{{ user.id }}/delete" method="post">
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('#delete-user').click(function () {
                if (confirm('Удалить пользователя {{ user.email }}?')) {
                    $('#frm-del-user').submit();
                }
            });

            var saveAvatar = $('#saveAvatar');
            var removeAvatar = $('#removeAvatar');

            saveAvatar.hide();
            removeAvatar.hide();

            {% if user.photo is not null  %}
                removeAvatar.show();
            {% endif %}

            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.card-img-top').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('.image-input').change(function () {
                readURL(this);

                saveAvatar.show();
                removeAvatar.show();
            });

            removeAvatar.on('click', function () {
                $('.image-input').val('');
                $('.card-img-top').attr('src', '/assets/admin/imgs/no_avatar.jpg');

                {% if user.id %}
                $.ajax({
                    url: '{{ path_for('user.deleteAvatar', {'id': user.id}) }}',
                    method: 'post'
                });
                {% endif %}
                saveAvatar.hide();
                removeAvatar.hide();
            });

        });
    </script>
{% endblock %}