{% extends "admin/layout/layout.twig" %}

{% block title %}Аудит{% endblock %}

{% block page_title %}Аудит{% endblock %}

{% block icons %}
    {#<a href="{{ path_for('domain.showAdminDomainAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>#}

    <form onsubmit="audith(event)" class="form form-inline">
        <div class="form-row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button id="dropdown-protocol" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">http://</button>
                    <div class="dropdown-menu">
                        <span onclick="setProtocol('http://')" class="dropdown-item">http://</span>
                        <span onclick="setProtocol('https://')" class="dropdown-item">https://</span>
                    </div>
                </div>
                <input type="text" name="domain" class="form-control" aria-describedby="basic-addon3" placeholder="Домен" required>
                <input id="protocol" type="hidden" name="protocol" value="http://">
            </div>

            <div class="col">
                <input type="number" name="depth" class="form-control" placeholder="Глубина" min="1" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary">Аудит</button>
            </div>             
        </div>
   
    </form>

{% endblock %}

{% block content %}

    <style>
        #console {
            background-color: #000000;
            font-family: monospace;
            font-size: 14px;
            height: 200px;
            overflow-y: auto;
            height: 0px;
            transition: height 0.2s ease;
        }

        #console > p {
            line-height: 14px;
            color: #ffffff;
            margin-bottom: 0px;
        }
    </style>

    <div class="row">
        <div id="console" class="col-md-12">
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 ">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Хост</th>
                    <th>Дата аудита</th>
                    <th>Отчет</th>
                </tr>
                </thead>
                <tbody>
                {% for audith in audiths %}
                    <tr>
                        <td>{{ audith.host }}</td>
                        <td>{{ audith.created_at }}</td>
                        <td>
                            <a class="btn btn-outline-success" 
                               href="{{path_for('crawler.report', {'audith_id': audith.id})}}">
                               Скачать отчет
                           </a>
                            <a class="btn btn-outline-primary" 
                               href="{{path_for('crawler.showMeta', {'id': audith.id})}}">
                               Открыть
                           </a> 
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
    
{% block script %}
    <script>
        function audith(event) {
            event.preventDefault();

            $(event.target).find('button[type="submit"]').attr('disabled', true);
            $('#console').height(200);

            $.ajax({
                url: '{{path_for("crawler.start")}}',
                method: 'post',
                data: $(event.target).serializeArray(),
                xhrFields: {
                    onprogress: function(e) {
                        $('#console').html(e.currentTarget.response);
                        $('#console').scrollTop(document.getElementById("console").scrollHeight);
                    }
                },
                success: function(r) {
                    let domain = $(event.target).find('input[name="domain"]').val();
                    window.location.href = '{{path_for("crawler.lastreport", {"domain": ""})}}' + domain;
                    $(event.target).find('button[type="submit"]').removeAttr('disabled');
                }
            });
        }

        function setProtocol(protocol) {
            $('#protocol').val(protocol);
            $('#dropdown-protocol').html(protocol);
        }
    </script>

{% endblock %}