{% extends "admin/layout/layout.twig" %}

{% block title %}{{audith.host}}{% endblock %}

{% block page_title %}{{audith.host}}{% endblock %}

{% block icons %}
    {#<a href="{{ path_for('domain.showAdminDomainAdd') }}"
       class="btn btn-link btn-float text-default">
        <i class="icon-user-plus text-primary" style="font-size: 1.4rem"></i>
        <span>Добавить</span>
    </a>#}
{% endblock %}

{% block content %}
    <div id="audith" class="row">
        <div class="col-md-12 ">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>url</th>
                    <th>Ссылка</th>
                    <th>Текст ссылки</th>
                    <th>Код</th>
                    <th>Статус</th>
                    <th>Заголовок</th>
                    <th>Ключевые слова</th>
                    <th>Описание</th>
                    <th>Заголовки</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="m in meta">
                        <td>${m.url}</td>
                        <td>${m.href}</td>
                        <td>${m.linkText}</td>
                        <td>${m.statusCode}</td>
                        <td>${m.status}</td>
                        <td>${m.title}</td>
                        <td>${m.keywords}</td>
                        <td>${m.description}</td>
                        <td>${m.headers}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
    
{% block script %}

<script>
        new Vue({
            el: '#audith',
            delimiters: ['${', '}'],
            data: {
                meta: {{meta|raw}}
            }
        });
</script>

{% endblock %}